#{extends 'CRUD/layout.html' /}

<div id="crudList" class="${type.name}">
	
	<h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>


	<div id="crudListTable">
		#{crud.table fields:['code','user','checkinDate','hotelName', 'finalPrice', 'netTotalSalePrice','credits','fromWeb','payed','invoiced','pending','canceled'] }
		   #{crud.custom 'code'}
		   		<a href="@{admin.Bookings.show(object.id)}">
				   	${object.code}
				 </a>
		   #{/crud.custom}
		   #{crud.custom 'user'}
		   	<a href="@{admin.Users.show(object.user?.id)}">
		  	 	${models.User.findById(object.user?.id) }
		  	 </a>
		   #{/crud.custom}
		   #{crud.custom 'hotelName'}
		   	<a href="@{admin.Deals.show(object.deal?.id)}">
		  	 	${object.hotelName}
		  	 </a>
		   #{/crud.custom}
			#{crud.custom 'checkinDate'}
		  	 ${object.checkinDate?.format('dd MMMM yyyy - hh:mm')}
		   #{/crud.custom}
		   #{crud.custom 'payed'}
				   <label style="#{if object.payed} color:green;#{/if}">${object.payed}</label>	
		   #{/crud.custom}
		    #{crud.custom 'canceled'}
				   <label style="#{if object.canceled} color:red;#{/if}">${object.canceled}</label>	
		   #{/crud.custom}
		    #{crud.custom 'pending'}
				   <label style="#{if object.pending} color:red;#{/if}">${object.pending}</label>	
		   #{/crud.custom}
	
   		#{/crud.table}
	</div>
	
	<div id="crudListPagination">
		#{crud.pagination /}
	</div>
	
	<p id="crudListAdd">
		<a href="@{blank()}">&{'crud.add', type.modelName}</a>
	</p>
	
	<p class="crudListExport"  id="exportAll">
		<a href="@{admin.Bookings.exportAll}">Export all Bookings as CSV </a>
	</p>

</div>
