#{extends 'CRUD/layout.html' /}

<div id="crudList" class="${type.name}">
	
	<h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>


	<div id="crudListTable">
		#{crud.table fields:['creditCardName','checkinDate','hotelName', 'priceCents', 'salePriceCents','code','fromWeb','invoiced','canceled'] }
			#{crud.custom 'checkinDate'}
		  	 ${object.checkinDate?.format('dd MMMM yyyy - hh:mm')}
		   #{/crud.custom}
	
   		#{/crud.table}
	</div>
	
	<div id="crudListPagination">
		#{crud.pagination /}
	</div>
	
	<p id="crudListAdd">
		<a href="@{blank()}">&{'crud.add', type.modelName}</a>
	</p>
	
	<p class="crudListExport"  id="exportAll">
		<a href="@{admin.Bookings.exportAll}">Export all Bookings as CSV </a>
	</p>

</div>
