		 #{if flash.error}
    	<div class="row-fluid">
				 	<div class="span12">
				 		<div class="alert alert-error">
					  <a class="close" data-dismiss="alert" href="#">&times;</a>
					  <strong>${flash.error}</strong>
					</div>
				</div>
		</div>
        #{/if}
        #{if flash.warning}
    	<div class="row-fluid">
				 	<div class="span12">
				 		<div class="alert alert-warning">
					  <a class="close" data-dismiss="alert" href="#">&times;</a>
					  <strong>${flash.warning}</strong>
					</div>
				</div>
		</div>
        #{/if}
        #{if flash.success}
    	<div class="row-fluid">
    			<div class="span12">
		        	<div class="alert  alert-success">
					  <a class="close" data-dismiss="alert" href="#">&times;</a>
					  <strong>${flash.success}</strong> 
					</div>
				</div>
		</div>
        #{/if}