<div class="row-fluid">
	<div class="span12"> 
       		<div class="white_buble_for_list" style="text-align:center;">
       			<div class="row-fluid">
						<div class="span12"> 
	       					<div class="title-black"><h1>&{'web.support.title'}</h1></div>
	       				</div>
	       		</div>
	       		<div class="row-fluid">
						<div class="span12"> 
		       		<h3>911 86 30 81</h3>
		       		<small>&{'web.support.hours'}</small>
	       			</div>
	       		</div>
	       		<div class="row-fluid">
					<div class="span12"> 
		       			<a data-toggle="modal" href="#contact">&{'web.contact'}</a>
	       			</div>
	       		</div>
		    </div>
	</div>
</div>