<div class="row-fluid">
	    <div class="span12">
			    <footer class="footer">
			    	<div class="row-fluid">
			    		<div class="span10" id="navigation">
				    	<ul class="nav nav-pills ">
					      <li><a href="http://www.reallylatebooking.com/${lang}/aboutus">&{'web.about'}</a></li>
					      <!-- <li id="uservoice"><a href="javascript:UserVoice.showPopupWidget();" >&{'web.support'}</a></li> -->
					      <li><a data-toggle="modal" href="#terms">&{'web.terms'}</a></li>
					      <li><a data-toggle="modal" href="#privacy">&{'web.privacy'}</a></li>
					      <li class="facebook-like"><div class="fb-like" data-href="https://www.facebook.com/ReallyLateBooking" data-send="false" data-layout="button_count" data-width="118" data-show-faces="false" data-font="arial"></div></li>		
					      <li class="twitter-follow"><a href="https://twitter.com/rlatebooking" class="twitter-follow-button" data-show-count="false" data-lang="${lang}">@rlatebooking</a></li>
					    </ul>
					    </div>
					    <div class="span2">
					    	<div class="row-fluid">
								<div class="span12">
									<div class="row-fluid">
					    				<div class="span3">
					    					<a href="http://www.facebook.com/reallylatebooking"><img alt="facebook" src="@{'/public/img/facebook.png'}"></a>
					    				</div>
					    				<div class="span3">
					    					<a href="http://twitter.com/rlatebooking"><img alt="twitter" src="@{'/public/img/twitter.png'}"></a>
					    				</div>
					    				<div class="span3">
					    					<a href="http://www.youtube.com/user/ReallyLateBooking"><img alt="RLB Youtube" src="@{'/public/img/youtube.png'}"></a>
					    				</div>
					    				<div class="span3" style="display:none;">
					    					<a href="http://blog.reallylatebooking.com"><img alt="RLB Tumblr" src="@{'/public/img/tumblr.png'}"></a>
					    				</div>
					    			</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row-fluid">
				    	<div class="span12">
							<p>
					          <small> &copy; ReallyLateBooking 2012. Powered by IIPIR Software Solutions S.L.</small>
					        </p>
					 	</div>
					</div>      
			    </footer>
	    </div>
	    <!-- Terms and conditions Modal -->	 
<div class="modal fade" id="terms">
	  <div class="modal-header">
	    <a class="close" data-dismiss="modal">&times;</a>
	    <h3>&{'web.terms'}</h3>
	  </div>
	  <div class="modal-body">
	  	#{include 'components/terms.html'/}
	  </div>
</div>

<!-- Privacy Modal -->	 
<div class="modal fade" id="privacy">
	  <div class="modal-header">
	    <a class="close" data-dismiss="modal">&times;</a>
	    <h3>&{'web.privacy'}</h3>
	  </div>
	  <div class="modal-body">
	  	#{include 'components/privacy.html'/}
	  </div>
</div>
	 </div>

