<div class="terms">
<p>&{'web.privacy.intro.1'}</p>
<p>&{'web.privacy.intro.2'}</p>
<h3>&{'web.privacy.1.h3'}</h3> 
<p>&{'web.privacy.1.p1'}</p>
<h3>&{'web.privacy.2.h3'}</h3> 
<p>&{'web.privacy.2.p1'}</p>
<h4>&{'web.privacy.2.1.h4'}</h4>
<p>&{'web.privacy.2.1.p1'}</p>
<h4>&{'web.privacy.2.2.h4'}</h4> 
<p>&{'web.privacy.2.2.p1'}</p>
<p>&{'web.privacy.2.2.p2'}</p>
<h4>&{'web.privacy.2.3.h4'}</h4> 
<p>&{'web.privacy.2.3.p1'}</p>
<h3>&{'web.privacy.3.h3'}</h3> 
<p>&{'web.privacy.3.p1'}</p>
<p>&{'web.privacy.3.p2'}</p>
<h3>&{'web.privacy.4.h3'}</h3> 
<p>&{'web.privacy.4.p1'}</p>
<p>&{'web.privacy.4.p2'}</p>
<p>&{'web.privacy.4.p3'}</p>
<h3>&{'web.privacy.5.h3'}</h3> 
<p>&{'web.privacy.5.p1'}</p>
<h3>&{'web.privacy.6.h3'}</h3>   
<p>&{'web.privacy.6.p1'}</p>
<p>&{'web.privacy.6.p2'}</p>
<p>&{'web.privacy.6.p3'}</p>
</div>