<div class="terms">
<p>&{'web.terms.intro.1'}</p>
<p>&{'web.terms.intro.2'}</p>
<h3>&{'web.terms.1.h3'}</h3>
<p>&{'web.terms.1.p1'}</p>
<p>&{'web.terms.1.p2'}</p> 
<p>&{'web.terms.1.p3'}</p>
<h3>&{'web.terms.2.h3'}</h3>
<p>&{'web.terms.2.p1'}</p>
<h3>&{'web.terms.3.h3'}</h3>
<p>&{'web.terms.3.p1'}</p>
<h3>&{'web.terms.4.h3'}</h3>
<p>&{'web.terms.4.p1'}</p>
<h3>&{'web.terms.5.h3'}</h3>
<p>&{'web.terms.5.p1'}</p>
<p>&{'web.terms.5.p2'}</p>
<h3>&{'web.terms.6.h3'}</h3>
<p>&{'web.terms.6.p1'}</p>
<h3>&{'web.terms.7.h3'}</h3>
<p>&{'web.terms.7.p1'}</p>
<h3>&{'web.terms.8.h3'}</h3>
<p>&{'web.terms.8.p1'}</p>
<h3>&{'web.terms.9.h3'}</h3>
<p>&{'web.terms.9.p1'}</p>
<p>&{'web.terms.10.p1'}</p>
<p>&{'web.terms.11.p1'}</p>
<p>&{'web.terms.12.p1'}</p>
<h3>&{'web.terms.10.h3'}</h3>
<p>&{'web.terms.iiipr'}</p>
</div>