#{extends 'Owners/layout.html' /}

#{set 'moreScripts'}
	<script type="text/javascript">
		$(function() {
			$('.popover-link').popover();
			$('.tooltip-link').tooltip()
		});
	</script>
#{/set}	 

<div class="extranet">
		<div class="row-fluid">
				<ul class="breadcrumb span4">
				  <li>
				    <a href="@{Owners.index()}"> &{'web.extranet.myhotels.title'}</a> <span class="divider">/</span>
				  </li>
				  <li class="active">
				    <a href="#">${deal.hotelName}</a>
				  </li>
				</ul>
			</div>
			
		<div class="row-fluid">
	        	<div class="span12 title-black">
		           <h1>${deal.hotelName}</h1>
		        </div>
	        </div>
	    <div class="row-fluid">
	        	<div class="span12 dashboard">
	        	<div class="tabs-container">
	        		<ul class="nav nav-tabs" >
	        		  <li class="active" ><a href="#edit" data-toggle="tab"><i class="icon-pencil"></i>
					    &{'web.extranet.edit.title'}</a>
					  </li>
					  <li><a href="#bookings" data-toggle="tab"><i class="icon-shopping-cart"></i>
					    &{'web.extranet.mybookings.title'}</a>
					  </li>
					  <li><a href="#company" data-toggle="tab"><i class="icon-user"></i>
					  	&{'web.extranet.company.title'}</a>
					  </li>
					  <li><a href="#help" data-toggle="tab"><i class="icon-question-sign"></i>
					  	&{'web.extranet.help.title'}</a>
					  </li>
					</ul>
					<div id="my-tab-content" class="tab-content">
			            <div class="tab-pane active" id="edit">
			            	#{include 'Owners/editHotelTab.html'/}
			            </div>
			            <div class="tab-pane" id="bookings">
			            	#{include 'Owners/bookingsTab.html'/}
			            </div> <!--  mybookings end -->
			            <div class="tab-pane" id="company">
			            	#{include 'Owners/companyTab.html'/}
						</div>
						 <div class="tab-pane" id="help">
						 	<ul>
								<li> &{'owners.moredays.point2'} </li>
								<li> &{'owners.moredays.point3'} </li>
								<li> &{'owners.moredays.point4'} </li>
								<li>&{'owners.moredays.point5'} </li>
						 	</ul>
						</div>
			        </div>
			        </div>
	 
        </div>
</div>
</div>