#{extends 'Owners/layout.html' /}

<div id="crudShow">

        <h2 id="crudShowTitle">&{'crud.show.title', deal.hotelName}</h2>

        <div class="objectForm">
        
        #{form @save(deal.id)}
 
		    #{ifErrors}
		        <p class="error">
		            Please correct these errors.
		        </p>
		    #{/ifErrors}
		     
		    <p>
		        #{field 'quantity'}
		        <label>Habitaciones disponibles:</label>
		        <input type="text" name="${field.name}" 
		            value="${deal.quantity}" class="${field.errorClass}" />
		        #{/field}
		    </p>
		    
		    <p>
		        #{field 'salePriceCents'}
		        <label>Precio de Oferta:</label>
		        <input type="text" name="${field.name}" 
		            value="${deal.salePriceCents}" class="${field.errorClass}" />
		        #{/field}
		    </p>
		 
		    <p>
		        #{field 'breakfastIncluded'}
		        <label>Desayuno Incluido:</label>
		        <input type="checkbox" name="${field.name}"
		            class="${field.errorClass}" />
		        #{/field}
		    </p>		    
		    
		    <p>Recuerda pulsar "Guardar cambios" aunque los datos sean iguales para activar la oferta hoy.</p>
		    
		    <p>
		        <input type="submit" value="Guardar cambios" />
		    </p>
		    
		#{/form}
        </div>
</div>
