#{extends 'Owners/layout.html' /}

<div id="crudShow">

        <h2 id="crudShowTitle">&{'crud.show.title', deal.hotelName}</h2>

        <div class="objectForm" style="padding:10px;">
        
        #{form @save(deal.id)}
 			
 			<h3>  &{'owners.oneday.title'} </h3>
 			
		    #{ifErrors}
		        <p class="error">
		        	&{'error.correct'}
		        </p>
		    #{/ifErrors}
		     
		    <p>
		        #{field 'quantity'}
		        <label>&{'owners.quantity'}</label>
		        <input type="text" name="${field.name}" 
		            value="${deal.quantity}" class="${field.errorClass}" />
		        #{/field}
		    </p>
		    
		    <p>
		        #{field 'salePriceCents'}
		        <label>&{'owners.salePriceCents'}</label>
		        <input type="text" name="${field.name}" 
		            value="${deal.salePriceCents}" class="${field.errorClass}" />
		        #{/field}
		    </p>
		    
		    <p>
		        #{field 'breakfastIncluded'}
		        <label> &{'owners.breakfastIncluded'} </label>
		        <input type="checkbox" name="${field.name}"
		            class="${field.errorClass}" #{if deal.breakfastIncluded} checked="true" #{/if} />
		        #{/field}
		    </p>
		    
		    <br/>
		    <h3>  &{'owners.moredays.title'} </h3>
		    <div style="float: right; width: 800px;">
		 	<p> &{'owners.moredays.description'}
		 	</p>
		 	<h4>&{'owners.moredays.important'}</h4>
		 	<ul>
		 		<li> &{'owners.moredays.point1'}  </li>
				<li> &{'owners.moredays.point2'} </li>
				<li> &{'owners.moredays.point3'}  </li>
				<li> &{'owners.moredays.point4'} </li>
		 	</ul>
		 	</div>
		 	<br/>
		 	<div>
		 	<p>
		        #{field 'priceDay2'}
		        <label>&{'owners.moredays.priceDay2'}</label>
		        <input type="text" name="${field.name}" 
		            value="${deal.priceDay2}" class="${field.errorClass}" />
		        #{/field}
		    </p>
		    
		    <p>
		        #{field 'priceDay3'}
		        <label>&{'owners.moredays.priceDay3'}</label>
		        <input type="text" name="${field.name}" 
		            value="${deal.priceDay3}" class="${field.errorClass}" />
		        #{/field}
		    </p>
		    
		      <p>
		        #{field 'priceDay4'}
		        <label>&{'owners.moredays.priceDay4'}</label>
		        <input type="text" name="${field.name}" 
		            value="${deal.priceDay4}" class="${field.errorClass}" />
		        #{/field}
		    </p>
		    
		      <p>
		        #{field 'priceDay5'}
		        <label>&{'owners.moredays.priceDay5'}</label>
		        <input type="text" name="${field.name}" 
		            value="${deal.priceDay5}" class="${field.errorClass}" />
		        #{/field}
		    </p>
		    </div>
		   <br/>
		    <p>&{'owners.moredays.point5'}</p>
		    <p>&{'owners.remember'}</p>
		    
		    <p>
		        <input type="submit" value="&{'owners.save'}" />
		    </p>
		    
		#{/form}
        </div>
</div>
