#{extends 'layout.html' /}
#{set title: user.firstName /}

			<div class="row">
	        	<div class="span12 title-black">
		           <h1>&{'extranet.list.title'}</h1>
		        </div>
	        </div>
	        <div class="row">
	        	<div class="span12 dashboard">
	        		<div class="tabs-container">
	        		<ul class="nav nav-tabs" >
					  <li class="active" ><a href="#myhotels" data-toggle="tab"><i class="icon-shopping-cart"></i>
					    &{'web.dashboard.mybookings.title'}</a>
					  </li>
					  <li><a href="#profile" data-toggle="tab"><i class="icon-user"></i>
					  	&{'web.dashboard.profile.title'}</a>
					  </li>
					</ul>
					<div id="my-tab-content" class="tab-content">
			            <div class="tab-pane active" id="myhotels">
			            	#{include 'Owners/myHotelsTab.html'/}
			            </div> <!--  mybookings end -->
			            <div class="tab-pane" id="profile">
			            	#{include 'Owners/profileTab.html'/}
						</div>
			        </div>
			        </div>
				</div> <!-- deal-detail end -->
	        </div>

