#{extends 'Owners/layout.html' /}

<div id="crudList" >
	
	<h2 id="crudListTitle">&{'extranet.list.title'}</h2>
	

	<div id="crudListTable">
		<table>
        <thead>
                <tr>
                        <th width="300">
                        	Hotel Name
                        </th>
                         <th width="200">
                        	City
                        </th>
                         <th width="100">
                        	Price
                        </th>
                         <th width="75">
                        	Sale Price
                        </th>
                         <th width="75">
                        	Disponibilidad
                        </th>
                         <th width="75">
                        	Desayuno
                        </th>
                         <th width="75">
                        	Activo
                        </th>
                        <th width="100">
                        	Actualizado
                        </th>
                </tr>
        </thead>
	    
	       #{list items:deals, as:'deal' }
	        <tr class="${deal_index % 2 ? 'even' : 'odd'}">
	             <td>
	                 #{a @Owners.edit(deal.id)} ${deal.hotelName}  #{/a}       
	             </td>
	              <td>
	              	 ${models.City.findById(deal.city.id).name }
	             </td>
	              <td>
	                  ${deal.priceCents}      
	             </td>
	             <td>
	                  ${deal.salePriceCents}      
	             </td>
	             <td>
	                  ${deal.quantity}      
	             </td>
	             <td>
	                  ${deal.breakfastIncluded}      
	             </td>
	              <td>
	                  ${deal.active}      
	             </td>
	               <td>
	                  ${deal.updated}      
	             </td>
	              
	        </tr>
	       #{/list}
	</table>
	</div>
	
	
</div>