#{extends 'Edreams/layout.html' /}
		
		#{set pageId:'index' /}
		
		#{set 'header'}
			<h2 id="titleSection" data-theme="b" data-ajax="false" >Search Hotels</h2>
		#{/set}
			<div data-role="content" data-theme="a">
				<form action="@{Edreams.searchDeals()}"> 
					<div data-role="fieldcontain" class="ui-hide-label" data-mini="true">
						<label for="city">City</label>
						<input type="text" name="city" id="city" value="" placeholder="choose a city"/>
					</div>
					
					<div data-role="fieldcontain" class="ui-hide-label" data-mini="true">
						<label for="date">Check-in</label>
						<input type="date" name="checkin" id="date" value="" placeholder="check-in tonight"/>
					</div>
					
					<div data-role="fieldcontain" class="ui-hide-label" data-mini="true">
						<label for="nights"></label>
						<input type="number" name="nights" pattern="[1-9]*" id="number-pattern" value="" placeholder="stay for 1 night">
					</div>
					
					<button type="submit" data-theme="a" data-mini="true" class="ui-btn-hidden" aria-disabled="false">Search</button>
					
				</form>
					
				<ul data-role="listview" id="hotels">
				</ul>
			</div>



	<script>
	$(function() {
	        var Geo={};
	
	        if (navigator.geolocation) {
	           navigator.geolocation.getCurrentPosition(success, error);
	        }
	
	        //Get the latitude and the longitude;
	        function success(position) {
	            Geo.lat = position.coords.latitude;
	            Geo.lng = position.coords.longitude;
	            findDeals(Geo.lat, Geo.lng);
	        }
	
	        function error(){
	            console.log("Geocoder failed");
	        }
			
	        function findDeals(lat, lng) {
				$.getJSON("/edreams/cities/"+lat+"/"+lng+"/", function(data) {
					  var root = "";
					  var city = null;
					  var deals= "";
					  $.each(data, function(key, val) {
						  root = val.city.root;
						  var divider= "";
						  if (city == null || city.id != val.city.id){
							  city = val.city;
							  divider = '<li data-role="list-divider">'+ city.name +'</li>';
						  }
						  
						  var deal = '<li><div class="category">'+ val.roomType+'</div>'+
						  	'<a href="/edreams/deal/'+ val.id +'/" class="hotelName" data-prefetch>'+
						  	'<img src="' + val.mainImageSmall + '">' +
						  	'<h4 class="hotelName">' + val.hotelName + '</h4>' +
						  	'<p class="now">'+val.salePriceCents +
						  	'&euro; <label class="before"> '+val.priceCents+'&euro;</label></p>'+
						  	'<p class="nights">stay 1-3 nights</p>'+
						  	'</a></li>';
						  	deals = deals + divider + deal;
					  });
					  var title = '<li data-role="list-divider" class="title"><h2>Hotels tonight in '+ root +'</h2>' +
		  				'<a href="index.html" class="nav-icon" data-icon="map-marker"  data-iconpos="notext"' + 
		  				' data-corners="true" data-shadow="true" data-iconshadow="true"></a></li>';
		  			  var html = title + deals;
					  $('#hotels').html(html);
					  $("#hotels").listview("refresh");
				});
			}
	    });
	</script>
			