#{extends 'layout.html' /}
#{set title: deal.hotelName /}

#{set 'moreScripts'}

	<script type="text/javascript">
		var priceList = [${deal.salePriceCents}, ${deal.priceDay2}, ${deal.priceDay3}, ${deal.priceDay4}, ${deal.priceDay5}]
		var nights = 1;
		#{ifErrors}
			#{if flash['booking.nights'] > 0 }
				nights = ${flash['booking.nights']};
			#{/if}
		#{/ifErrors}
		var credits = 0;
		#{if user.credits > 0 && !deal.isHotUsa}
			credits= ${user.credits};
		#{/if}
		var totalPrice = ${deal.salePriceCents};
		var creditCard = 'visa';
		#{ifErrors}
			creditCard = "${flash['booking.creditCardType']}";
		#{/ifErrors}
		function updatePrice(nights){
			totalPrice = 0;
			for(var i=0; i<nights; i++) {
				totalPrice = totalPrice + priceList[i];
			}
			$('#total-booking-precredits').html(totalPrice);
			totalPrice = totalPrice - credits;
			$('.total-booking').html(totalPrice);
		}
		function updateExpiryCard(){
			var month="1";
			var year="2012";
			 $("#credit_card_cc_expire_month option:selected").each(function () {
				 month = $(this).val();
	          });
			 
	          $("#credit_card_cc_expire_year option:selected").each(function () {
	        	  year = $(this).val();
	           });
	          $('#creditCardExpiry').val(month+"/"+year);
		}
		$(function() {
			$('.tipsy').tooltip();
			var options = { html: true, content: function(){
				var bookingText = "&{'web.bookingForm.popover'}" ;
				return bookingText;
				}};
			$('#confirm-booking').popover(options);
			$('#nightsSelect').val(nights);
			$('#credit_card_cc_type').val(creditCard);
			updatePrice(nights);
			$("#nightsSelect").change(function () {
		          $("#nightsSelect option:selected").each(function () {
		        	  nights = $(this).val();
		              });
		          updatePrice(nights);
		    });
			$("#credit_card_cc_expire_month").change(function () {
				updateExpiryCard();
		    });
			$("#credit_card_cc_expire_year").change(function () {
				updateExpiryCard();
		    });
		});
	</script>
#{/set}
		
		    	#{ifErrors}
		    	<div class="row">
		    		<div class="span9">
			    	<div class="alert alert-error">
				        <a class="close" data-dismiss="alert" href="#">&times;</a>
						   <p><strong>&{'web.bookingForm.error'}</strong></p>
				   </div>
				   </div>
				</div>
				#{/ifErrors}
				#{else}
				<div class="row">
					<div class="span9">
					<div class="alert alert-info">
				        <a class="close" data-dismiss="alert" href="#">&times;</a>
				        <p><strong>&{'web.bookingForm.hint.strong'}</strong> &{'web.bookingForm.hint.simple'}</p>
				     	<p> &{'web.bookingForm.hint.remember'}</p>
				    </div>
				    </div>
				 </div>
				#{/else}
			<div class="row">
	        	<div class="span9">
		       		<div class="row">
			        	<div class="span9 title-black">
				           <h1>&{'web.bookingForm.title', deal.hotelName}</h1>
				        </div>
			        </div>
			        	<div class="steps" >
			        		#{form @Bookings.doBooking(), class:''}
			        		<input type="hidden" name="dealId" value="${deal.id}">
				            <div class="row" >
				            	<div class="span9">
				            		<h2>1. &{'web.bookingForm.1.title'}</h2>
				            		<div id="step1" style="background-image: url('${deal.image10}');">
							        		<div class="hotelInfo">
							        			<h3>${deal.hotelName} <small>${deal.address}, ${deal.city.name}</small></h3>
							        			<div class="row price-more">
								           			<div class="span5 price">
								           				<small>&{'web.bookingForm.1.tonight'}</small> ${deal.salePriceCents}<span>&euro;</span>
								           				 <small>&{'web.bookingForm.1.before'} ${deal.priceCents}&euro; </small>
								           			</div>
								           			
								           		</div>
								           		
							        			<div class="detail-text"><p>#{verbatim} ${deal.detailText} #{/verbatim}</p></div>
							        			<a  data-toggle="modal" href="#completeDetail" >&{'web.bookingForm.1.allInfo'}</a>
							        			<div class="modal" id="completeDetail">
												  <div class="modal-header">
												    <a class="close" data-dismiss="modal">×</a>
												    <h3>&{'web.bookingForm.1.details.title', deal.hotelName}</h3>
												  </div>
												  <div class="modal-body">
												    <p>#{verbatim} ${deal.detailText} #{/verbatim}</p>
												  </div>
												  <div class="modal-footer">
												    <a href="#" class="btn"  data-dismiss="modal">Close</a>
												  </div>
												</div>
							        		</div>
						   			 </div>
				            	</div>
				            </div>
				            
				             <div class="row" >
				            	<div class="span9">
				            		<h2>2. &{'web.bookingForm.2.title'}</h2>
				            		<div  id="step2">
							        		<div class="padding-centered">
							        			<fieldset>
										          <div class="clearfix">
										            <label for="prependedInput">&{'web.bookingForm.2.checkin'}</label>
										            <div class="input">
										              <div class="input-prepend">
										                <span class="add-on"><i class="icon-calendar"></i></span>
										                <input class="large disabled" id="prependedInput" name="booking.checkinDate" 
										                	disabled  type="text" value=" &{'web.bookingForm.2.today'}">
										                <span class="help-block">&{'web.bookingForm.2.checkininfo'}</span>
										              </div>
										            </div>
										          </div><!-- /clearfix -->
										          <div class="clearfix">
											            <label for="nightsSelect"> &{'web.bookingForm.2.nights'}</label>
											            <div class="input">
											            <div class="input-prepend">
											              <span class="add-on"><i class="icon-time"></i></span>
											              <select class="large" name="booking.nights" id="nightsSelect">
											                		<option  value="1"> &{'web.bookingForm.select.1'} ${deal.salePriceCents}&euro;</option>
												                #{if deal.priceDay2 != null }
												                	<option value="2">2 &{'web.bookingForm.select.n'}  <span class="total-price">${deal.salePriceCents + deal.priceDay2}&euro;</span></option>
												                #{/if}
												                 #{if deal.priceDay3 != null }
												                	<option  value="3">3 &{'web.bookingForm.select.n'} ${deal.salePriceCents + deal.priceDay2 + deal.priceDay3}&euro;</option>
												                #{/if}
												                #{if deal.priceDay4 != null }
												                	<option  value="4">4 &{'web.bookingForm.select.n'} ${deal.salePriceCents + deal.priceDay2 + deal.priceDay3 + deal.priceDay4}&euro;</option>
												                #{/if}
												                #{if deal.priceDay5 != null }
												                	<option  value="5">5 &{'web.bookingForm.select.n'} ${deal.salePriceCents + deal.priceDay2 + deal.priceDay3 + deal.priceDay5}&euro;</option>
												                #{/if}
											              </select>
											              <span class="help-block">&{'web.bookingForm.2.nights.info'}</span>
											            </div>
											            </div>
										          </div><!-- /clearfix -->
										          <div class="clearfix">
										            <label for="prependedInput">&{'web.bookingForm.2.people'}</label>
										            <div class="input">
										              <div class="input-prepend">
										                <span class="add-on"><i class="icon-user"></i></span>
										                <input class="large disabled" id="prependedInput" name="clients" 
										                	disabled  type="text" value="&{'web.bookingForm.2.people.max'}">
										                <span class="help-block">&{'web.bookingForm.2.people.hint'}
										                	<a  href="#" class="tipsy" data-placement="right" data-original-title="&{'web.bookingForm.2.people.hint.info'}"><i class="icon-info-sign"></i></a></span>
										              </div>
										            </div>
										          </div><!-- /clearfix -->
										          #{if user.credits > 0 && !deal.isHotUsa}
										          <div class="clearfix">
										            <label for="credits">&{'web.bookingForm.2.credits'}</label>
										            <div class="input">
										              <div class="input-prepend">
										                <span class="add-on">&euro;</span>
										                <input class="large disabled" id="credits" name="credits" 
										                	disabled  type="text" value="&{'web.bookingForm.2.credits.value', user.credits}">
										                <span class="help-block">&{'web.bookingForm.2.credits.hint'}</span>
										              </div>
										            </div>
										          </div><!-- /clearfix -->
										          #{/if}
										        </fieldset>
							        		</div>
							   			 <div class="row">
								   			 <div class="total">
										              <div class="span3">
										               		<span><i class="icon-asterisk"></i></span> &{'web.bookingForm.2.total'}:
										              </div>
										              <div class="span5">
										              		#{if user.credits > 0 && !deal.isHotUsa}
										              			<span id="total-booking-precredits">${deal.salePriceCents}</span>&euro; - ${user.credits}&euro; = <span id="total-booking" class="total-booking">${deal.salePriceCents - user.credits}</span>&euro; <small>&{'web.bookingForm.2.tax'}</small>
										              		#{/if}
										              		#{else}
										               			<span id="total-booking" class="total-booking">${deal.salePriceCents}</span>&euro; <small>&{'web.bookingForm.2.tax'}</small>
										              		#{/else}
										              </div>
											 </div>
										 </div>
						   			 </div>
				            	</div>
				            </div>
				            
				            <div class="row" >
				            	<div class="span9">
				            		<h2>3. &{'web.bookingForm.3.title'}</h2>
				            		<div id="step3">
				            				<div class="alert alert-warning">
										        <p><strong>${user.firstName}</strong>, &{'web.bookingForm.3.hint'}</p>
										    </div>
										   
										    <div class="padding-centered">
				            			   <fieldset>
				            			   	<div class="row">
									          <div class="span3">
									            <label for="firstName">&{'web.bookingForm.3.name'}</label>
									            <div class="input-prepend">
									            	<span class="add-on"><i class="icon-user"></i></span>
									                <input class="large " id="firstName" name="booking.bookingForFirstName" 
									                	  type="text" value="${flash['booking.bookingForFirstName']}">
									            </div>
									          </div><!-- /clearfix -->
									          <div class="span5">
									            <label for="lastName">&{'web.bookingForm.3.surname'}</label>
									            <div class="input-prepend">
									            	<span class="add-on"><i class="icon-user"></i></span>
									                <input class="large " id="lastName" name="booking.bookingForLastName" 
									                	  type="text" value="${flash['booking.bookingForLastName']}">
									            </div>
									          </div><!-- /clearfix -->
									         
									          <div class="span8">
									            <label for="bookingForEmail">&{'web.bookingForm.3.email'}</label>
									            <div class="input">
									              <div class="input-prepend">
									                <span class="add-on"><i class="icon-envelope"></i></span>
									                <input class="large" id="bookingForEmail" name="booking.bookingForEmail" 
									                	  type="text" value="${flash['booking.bookingForEmail']}">
									              </div>
									            </div>
									          </div><!-- /clearfix -->
									          </div>
									        </fieldset>
									         </div>
						   			 </div>
				            	</div>
				            </div>
				            
				            <div class="row" >
				            	<div class="span9">
				            		<h2>4. &{'web.bookingForm.4.title'}</h2>
				            		<div id="step4">
				            				<div class="alert alert-warning">
										        <p><strong>${user.firstName}</strong>, &{'web.bookingForm.4.warning.1'}</p>
										        <p>&{'web.bookingForm.4.warning.2'}</p>
										    </div>
										    <div class="padding-centered">
				            			   <fieldset>
				            			   	<div id="cc_details" class="row">
				            			   		 <div class="span3 control-group ">
										            <label  for="booking.creditCardType">&{'web.bookingForm.4.cardType'}</label>
										            <div class="controls">
										                <select class="large" id="credit_card_cc_type" name="booking.creditCardType">
					                                		<option value="visa">Visa</option>
															<option value="master">MasterCard</option>
															<option value="american_express">American Express</option>
															<option value="discover">Discover</option>
													</select>
										            </div>
									            </div><!-- /clearfix -->
									            <div class="span3 control-group #{ifError 'booking.creditCard'} error #{/ifError}">
									            	<label  for="credit_card_cc_number">&{'web.bookingForm.4.cardNumber'}</label>
												 	 <div class="controls">
					                                	<input class="large" id="credit_card_cc_number" 
					                                		name="booking.creditCard" type="text" value="${flash['booking.creditCard']}">
					                                	<span class="help-inline">#{error 'booking.creditCard' /}</span>
					                                 </div>
												</div><!-- /clearfix -->
												 <div class="span3 control-group #{ifError 'booking.creditCardExpiry'} error #{/ifError}">
					                                <label id="cc_expires_on_label" for="credit_card_cc_expire_month">&{'web.bookingForm.4.expiration'}</label>
					                                <div class="controls">
						                                <select id="credit_card_cc_expire_month" class="input-small" name="credit_card[cc_expire_month]" >
						                                	<option value="1">1</option>
															<option value="2">2</option>
															<option value="3">3</option>
															<option value="4">4</option>
															<option value="5">5</option>
															<option value="6">6</option>
															<option value="7">7</option>
															<option value="8">8</option>
															<option value="9">9</option>
															<option value="10">10</option>
															<option value="11">11</option>
															<option value="12">12</option>
														</select>
														<select id="credit_card_cc_expire_year" class="input-small" name="credit_card[cc_expire_year]" >
															<option value="2012">2012</option>
															<option value="2013">2013</option>
															<option value="2014">2014</option>
															<option value="2015">2015</option>
															<option value="2016">2016</option>
															<option value="2017">2017</option>
															<option value="2018">2018</option>
															<option value="2019">2019</option>
															<option value="2020">2020</option>
															<option value="2021">2021</option>
															<option value="2022">2022</option>
														</select>
														<input type="hidden" id="creditCardExpiry" name="booking.creditCardExpiry" value="${flash['booking.creditCardExpiry']}">
														<span class="help-inline">#{error 'booking.creditCardExpiry' /}</span>
													 </div>
												</div><!-- /clearfix -->
					                               <div class="span3 control-group #{ifError 'booking.creditCardCVC'} error #{/ifError}"> 
					                               	<label id="credit_card_cc_security_code_label" for="credit_card_cc_security_code">&{'web.bookingForm.4.cvc'}</label>
					                               <div class="controls">
					                                <input id="credit_card_cc_security_code" name="booking.creditCardCVC" type="text" value="${flash['booking.creditCardCVC']}"
					                                	class="input-small #{ifError 'booking.creditCardCVC'} error #{/ifError}">
					                                	<a  href="#" class="tipsy" data-placement="right" data-original-title="&{'web.bookingForm.4.cvc.hint'}">
					                                		<i class="icon-question-sign"></i>
					                                	</a>
					                                <span class="help-inline">#{error 'booking.creditCardCVC' /}</span>
					                                	
					                                </div>
					                                </div><!-- /clearfix -->
					                            </div>
									          <div class="control-group #{ifError 'booking.creditCardName'} error #{/ifError}">
									            <label for="firstName">&{'web.bookingForm.4.cardname'}</label>
									            <div class="controls">
									                <input class="large" id="firstName" name="booking.creditCardName" type="text" value="${flash['booking.creditCardName']}">
									              	#{ifError 'booking.creditCardName'} 
									              		<span class="help-inline error">#{error 'booking.creditCardName' /}</span>
									                #{/ifError} 
									                #{else}
									                	<span class="help-block">&{'web.bookingForm.4.cardname.hint'}</span>
									                #{/else}
									            </div>
									            
									          </div><!-- /clearfix -->
									          
									        </fieldset>
									        </div>
						   			 </div>
				            	</div>
				            </div>
				            

						            <div class="padding-centered purchase">
						            	<input class="btn btn-success btn-large" type="submit" id="confirm-booking" value="&{'web.bookingForm.button'}" rel="popover"
						            		data-original-title="&{'web.bookingForm.popover.title', deal.hotelName}"/>
								    </div>
			
				            #{/form}
					</div> <!-- steps end -->
			     </div> <!-- span9 end -->
	        	
	        </div>	