<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="${lang}" lang="${lang}">
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/admin.css'}" />
        <link type="text/css" href="@{'/public/stylesheets/ui-lightness/jquery-ui-1.8.4.custom.css'}" rel="stylesheet" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
       
	</head>
	<body id="crud">
		
		<div id="crudHeader">
			<div id="title">
				<h1><a href="@{CRUD.index()}">&{'crud.title'}</a></h1>
			</div>
			<div id="tools">
                    <a class="logout" href="@{Secure.logout()}">Log out</a>
                    <a class="panel" href="@{admin.Statistics.index()}">
   						 Control Panel
   					</a>
        	</div>
		</div>

		
		#{if request.actionMethod != 'index'}
			<div id="crudBreadcrumb">
				#{crud.navigation /}
			</div>
		#{/if}

		#{if flash.success}
			<div class="crudFlash flashSuccess">
				${flash.success}
			</div>
		#{/if}
		#{if flash.error || error}
			<div class="crudFlash flashError">
				${error ?: flash.error}
			</div>
		#{/if}
		
		<div id="crudContent">
			#{doLayout /}
		</div>
		
		<div id="crudFooter">
			Powered by <a href="http://www.iipir.com">IIPIR</a>
		</div>
		
	</body>
</html>
