
<div class="row">
<div class="span12 "><fb:send href="http://example.com"></fb:send>

<a class="btn" data-toggle="modal" data-target="#fbModal">Facebook</a>

<div id="fbModal" class="modal fade">
<div class="modal-header"><a class="close" data-dismiss="modal">×</a>
<h3>Modal header</h3>
</div>
<div class="modal-body">
<p>One fine body…</p>
</div>
<div class="modal-footer"><a
	href="https://www.facebook.com/dialog/send?app_id=123050457758183&
name=People%20Argue%20Just%20to%20Win&
link=http://www.nytimes.com/2011/06/15/arts/people-argue-just-to-win-scholars-assert.html&
redirect_uri=http://www.example.com/response"
	class="btn btn-primary">Save changes</a> <a href="#" class="btn">Close</a>
</div>
</div>
</div>
</div>