<div class="row-fluid">
  					<div class="span12">
  						#{if totalBookings == 0 }
  							<div class="row-fluid">
   							<div class="span12 noBookings">
   								<p>&{'web.dashboard.mybookings.nobookings.p'}</p>
   								
   								<h3>&{'web.dashboard.mybookings.nobookings.h3'}</h3>
   								
   								<a href="/" class="btn btn-large btn-success"> &{'web.dashboard.mybookings.nobookings.btn'}</a>
    						</div>
   						</div>
  						#{/if}
  						#{else}
           	<table class="table table-bordered" id="bookings">
		        <thead>
		          <tr>
		            <th class="blue header">&{'web.dashboard.mybookings.table.date'}</th>
		            <th class="blue header">&{'web.dashboard.mybookings.table.hotel'}</th>
		            <th class="blue header">&{'web.dashboard.mybookings.table.city'}</th>
		            <th class="blue header">&{'web.dashboard.mybookings.table.code'}</th>
		            <th class="blue header">&{'web.dashboard.mybookings.table.price'}</th>
		          </tr>
		        </thead>
		        <tbody>
		        	#{list items:bookings, as:'booking'}
		        		<tr class=summary>
				            <td>${booking.checkinDate.format('dd MMMM yyyy')}</td>
				            <td>${booking.hotelName}</td>
				            <td>${booking.city.name}</td>
				            <td>${booking.code}</td>
				            #{if booking.finalPrice > 0}
				            	<td>${booking.finalPrice}&euro;</td>
				            #{/if}
				            #{else}
				            	<td>${booking.salePriceCents}&euro;</td>
				            #{/else}
				            <td>
				            <a  data-toggle="modal" href="#${booking.code}" >&{'web.dashboard.mybookings.table.seebooking'}</a>
				            </td>
			        	</tr>
			        	<div id="${booking.code}" class="modal fade" >
				            <div class="modal-header">
				              <a href="#" class="close" data-dismiss="modal">x</a>
				              <h3>&{'web.dashboard.mybookings.booking.h3', booking.hotelName} <small>${booking.deal.address} 
				              		<span class="directions">
							      	<a href="http://maps.google.com/maps?q=${booking.deal.latitude}, ${booking.deal.longitude}" target="_blank">&{'web.dashboard.mybookings.booking.directions'}</a>
							      </span></small></h3>
				            </div>
				            <div class="modal-body">
				              <p>&{'web.dashboard.mybookings.booking.p.name', booking.code}
				              		 #{if booking.bookingForEmail != ''}
				        				${booking.bookingForFirstName} ${booking.bookingForLastName}. <strong>&{'web.dashboard.mybookings.booking.email'} </strong> ${booking.bookingForEmail}
				        			#{/if}
				        			#{else}
				        				<strong>${user.firstName} ${user.lastName}.</strong> &{'web.dashboard.mybookings.booking.email'}  <strong> ${user.email}</strong>
				        			#{/else}
				        	 </p>
				        	 <p>&{'web.dashboard.mybookings.booking.checkin'} <strong>${booking.checkinDate.format('dd MMMM yyyy')}</strong></p>
				        	 <p>&{'web.dashboard.mybookings.booking.nights'} <strong>${booking.nights}</strong></p>
				        	  #{if booking.finalPrice > 0}
				            	<p>&{'web.dashboard.mybookings.booking.price'} ${booking.totalSalePrice}&euro; &{'web.dashboard.mybookings.booking.credits'} ${booking.credits}&euro;  
				            	&{'web.dashboard.mybookings.booking.finalprice'} ${booking.finalPrice}&euro; &{'web.dashboard.mybookings.booking.tax'}</p>
				            #{/if}
				            #{else}
				            	<p>&{'web.dashboard.mybookings.booking.finalprice'} ${booking.salePriceCents}&euro;  &{'web.dashboard.mybookings.booking.tax'}</p>
				            #{/else}
				            </div>
				       
				            <div class="modal-footer">
				              <a href="#" class="btn primary close" data-dismiss="modal"> &{'web.modal.close'}</a>
				            </div>
				          </div>
		        	#{/list}
		         </tbody>
		     </table>
	     #{/else}
	</div>
</div>