		<script>	
		%{
			timestamp = controllers.oauth.ApiSecurer.currentTimestamp()
			signature = controllers.oauth.ApiSecurer.calculateMD5('/user/'+user.id+'/coupons/'+user.token+'/'+timestamp, user.secret)
		}%
			function updateCoupons() {
				$.getJSON("/user/${user.id}/coupons/${user.token}/${timestamp}/${signature}", function(data) {
					  var coupons = "";
					  var credits = 0;
					  $.each(data, function(key, val) {
						  coupons = coupons + '<tr class=summary>' + 
						  	'<td>' + val.created + '</td> <td>' + val.expire
						  	+ '</td> <td>'+ val.key + '</td><td>' + val.title
						  	+ '</td><td>'+ val.credits + ' &euro; </td><td>'+ 
						  	val.used + '</td></tr>';
						  credits = credits + val.credits;
					  });
					  $('#credits').html(credits);
					  $('#couponsBody').html(coupons);
				});
			}
		</script>	
<div class="row-fluid">
	        					<div class="span12 ">
	        						#{if totalCoupons == 0  }
	        							<div class="row-fluid">
		        							<div class="span12 noBookings">
		        								<h3>No tienes ningún crédito. ¿quieres conseguir créditos para reservar habitaciones gratis?</h3>
		        								<p>Invita a tus amigos y recibirás 12€ por cada amigo que realice una reserva en RLB</p>
			        						</div>
		        						</div>
	        						#{/if}
	        						#{else}
	        							<div class="row-fluid">
		        							<div class="span12 ">
										<table class="table table-bordered" id="coupons">
									        <thead>
									          <tr>
									            <th class="blue header">&{'web.dashboard.mycoupons.table.date'}</th>
									            <th class="blue header">&{'web.dashboard.mycoupons.table.expiration'}</th>
									            <th class="blue header">&{'web.dashboard.mycoupons.table.code'}</th>
									            <th class="blue header">&{'web.dashboard.mycoupons.table.text'}</th>
									            <th class="blue header">&{'web.dashboard.mycoupons.table.credits'}</th>
									            <th class="blue header">&{'web.dashboard.mycoupons.table.state'}</th>
									          </tr>
									        </thead>
									        <tbody id="couponsBody">
									        	#{list items:coupons, as:'coupon'}
									        		<tr class=summary>
														<td> ${coupon.created} </td>
														<td> ${coupon.expire} </td>
														<td> ${coupon.key} </td>
														<td> ${coupon.title} </td>
														<td> ${coupon.credits}&euro; </td>
														<td> ${coupon.used} </td>
													</tr>
									        	#{/list}
									         </tbody>
									     </table>
									     </div>
		        						</div>
		        						<div class="row-fluid">
		        							<div class="span12">
		        								%{ 
		        								 totalCredits = '<strong id="credits">'+ coupons.collect{it.credits }.sum() + '</strong>'
		        								%}
		        								<h3>&{'web.dashboard.mycoupons.total', totalCredits }</h3>
		        								<p>&{'web.dashboard.mycoupons.invite'}</p>
			        						</div>
		        						</div>
								     #{/else}
									<div class="row-fluid">
		        							<div class="span12">
		        								<h3>&{'web.dashboard.mycoupons.new'}</h3>
		        								#{remote.form action:@Coupons.validateAjax() , resultDiv:'alert-success', errorDiv:'alert-error', callback:'updateCoupons()' }
											     	<input type="text" name="key" value="">
											     	<input class="btn btn-primary btn-large" type="submit" id="coupon" value="&{'web.dashboard.mycoupons.new.button'}" />
											     	
											     #{/remote.form}
			        						</div>
		        						</div>
								     
								</div>
							</div>
