<div class="row-fluid">
	        					<div class="span12 ">
	        						#{ifnot coupons?.size > 0  }
	        							<div class="row-fluid">
		        							<div class="span12 noBookings">
		        								<h3>No tienes ningún crédito. ¿quieres conseguir créditos para reservar habitaciones gratis?</h3>
		        								<p>Invita a tus amigos y recibirás 12€ por cada amigo que realice una reserva en RLB</p>
			        						</div>
		        						</div>
	        						#{/ifnot}
	        						#{else}
						            	<table class="zebra-striped" id="bookings">
									        <thead>
									          <tr>
									            <th class="blue header">Activación</th>
									             <th class="blue header">Expira</th>
									            <th class="blue header">Código</th>
									            <th class="blue header">Créditos</th>
									            <th class="blue header">Usado</th>
									           </tr>
									        </thead>
									        <tbody>
									        	#{list items:coupons, as:'coupon'}
									        		<tr class=summary>
											            <td>${coupon.created.format('dd MMMM yyyy')}</td>
											            <td>${coupon.expire.format('dd MMMM yyyy')}</td>
											            <td>${coupon.key}</td>
											            <td>${coupon.credits}&euro;</td>
											            <td>${coupon.used}</td>
											            </td>
										        	</tr>
									        	#{/list}
									         </tbody>
									     </table>
								     #{/else}
								</div>
							</div>