<div class="row">
  					<div class="span12 ">
  						#{if user.credits == 0  }
  							<div class="row">
   							<div class="span12 noBookings">
   								<h3>No tienes ningún crédito. ¿quieres conseguir créditos para reservar habitaciones gratis?</h3>
   								<p>Invita a tus amigos y recibirás 12€ por cada amigo que realice una reserva en RLB</p>
    						</div>
   						</div>
  						#{/if}
  						#{else}
  							<div class="row">
           	<div class="span12 summary">
	          <p>Actual credits  ${user.credits}&euro;</p>

        	</div>
        	</div>
	     #{/else}
	</div>
</div>