@import "bootstrap.less"; 
@import "responsive.less"; 

/************** VARIABLES *****************/
  
@horizontalPadding: 20px;
@navbarPadding: 	@horizontalPadding;
@cityImageSize: 	158px;
@secondaryColor:	#5093B0;
@orange:			#F99431;
@verticalMarging:   20px;
@grayBackground:	#E9E9E9;
@zonesNavHeight:	42px;
@grayBorder:		#D9D9D9;

@fontSizeBig: 24px;
@fontSizeMedium: 16px;
@fontSizeSmall: @baseFontSize;

@media (max-width: 850px) {
	@cityImageSize: 140px;
}


/************** GENERAL ELEMENTS  *****************/  
body {
  	padding-top: @navbarHeight + @navbarPadding; 
	background-color: #F5F5F5;
}

h1 {
	line-height: 100%;
}

#main-content{
	min-height: 500px;
}

footer{
	.center-block();
	margin-top:  @verticalMarging;
	margin-bottom:  @verticalMarging;   
	padding: 6px 0 0;
	#gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
	.border-radius(6px);
	a{
		color: #999;
	}
    a:hover {
      color: @white;
    }
	.nav{
		margin-bottom: 0;
		padding-left: 6px;
		.facebook-like, .twitter-follow{
			margin-top: 0.5%;
			margin-left: 3%;
		}
	}
	.nav > li > a:hover {
	  text-decoration: none;
	  background-color: @navbarBackground;
	}
	p{
		text-align: center;
		small{
			color: @gray;
		} 
	} 
}

input {
	height: auto; 
}

#background {
	background: transparent url("http://a1.ak.lscdn.net/deals/images/refresh/background-fade.png") repeat-x scroll left bottom;
	min-height: 950px;
	-moz-user-select: none;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: -1;
	//background: transparent url('http://d2f5bmx5jz1oq8.cloudfront.net/web/backgrounds/rlb_fondo web.jpg') repeat top center;
	//background: transparent url('http://behance.vo.llnwd.net/profiles/88164/prosite/2-108587-b5be9f1ae871a396036da177a5d428ae.jpg') repeat top center;
	//background: transparent url('/public/img/backgrounds/paper-flower.gif') repeat top center;
	//background: transparent url('/public/img/backgrounds/karachi.gif') repeat top center;
	//background: transparent url('/public/img/backgrounds/dark-tile.gif') repeat top center;
	//background: transparent url('/public/img/backgrounds/bit-tile-blue.gif') repeat top center;
	#background .fader {
		position: absolute;
		height: 100%;
	}
	img {
		left: 0;
		min-width: 1200px;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -2;
	}
}


.modal{
	display:none;
}

.terms p{
	font-size: @baseFontSize;
	font-weight: normal;
	line-height: @baseLineHeight;
}
.android-btn{
	background-image: url("http://reallylatebooking.com/public/images/Android_Store_Badge_ES_400-TR.original.png");
	.background-size(100%);
    background-repeat: no-repeat;
    border-style: none;
	display: block;
	min-height: 75px;
    width: 100%;
}
.iphone-btn{
	background-image: url("http://reallylatebooking.com/public/images/App_Store_Badge_ES_400-TR.original.png");
	.background-size(100%);
    background-repeat: no-repeat;
    border-style: none;
	display: block;
	min-height: 75px;
    width: 100%;
}

.dropdown-menu{
	max-width: none; 
}
/* Main navigation Bar */

.navbar{
	z-index: 900;
	.center-block();
	.navbar-inner{
		.border-radius(0 0 6px 6px);
		.brand {
		    padding: 0 5px;
			img{
				width: 290px;
			}
		}
		.nav{
			.pull-right();
			li{
				margin-top: 5px;
				ul li {
				    padding: 0;
				}
			}
		} 
	}
}

/* The white background rounded content wrapper */
.white_buble_for_list{
	.box-shadow();
	.border-radius(6px);
	//.background-size(@dealListWidth * 0.35);
	background-repeat: no-repeat;
	background-color: @white;
	color: @gray;
	address{
		font-size: @baseFontSize;
	}
	overflow: hidden;	
}

/************** EXTRANET Login page **************/
.extranet{
	.login{
		padding: 30px; 
	}
	.edit-hotel{
		padding: 30px;
	}
} 

/************** INIT Login PAGE  *****************/
.index{
	.hero-unit{
		@verticalMargin: 16px;
		.box-shadow(2px 3px 6px rgba(0,0,0,.8));
		padding: 20px 40px;
		p{
			line-height: 20px;
		}
		.register, .login {
			.well{
				background-color: @white;
				.box-shadow();
				strong{
					color: @linkColor;
				}
				h2{
				    padding-bottom: 16px;
				}
			}		
		}
	
		.register{
			.btn-container{
				margin: @verticalMargin 0;
				text-align: center;
				padding-top: 5px;
			}
			.download{
				.android-btn, .iphone-btn{
					.pull-left();
				}
			}
			.input-prepend{
				.center-block();
				margin-top: 10px;
			}
			#askInvite{
				small.help-block{
					font-size: @fontSizeSmall;
				}
			}
		}
		.login{
			text-align: center;
			form{
				margin: @verticalMargin/2 0;
				.center-block();
				text-align: left;
			}
		}
	}
}
.fb-button-container-centered {
	margin:  14px 0 4px;
	padding: 0px 0;
	text-align: center;
	.play-fbconnect-button {
		left: auto;
		margin-bottom: 13px;
		float: none;
		display: inline-block;
		position: relative;
		text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
		border-radius: 4px;
		moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		text-align: center;
		&:hover{
			box-shadow:inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6);
			-o-box-shadow:inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6);
			-moz-box-shadow:inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6);
			-webkit-box-shadow:inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6);
			text-decoration:none!important;
		}
	}
	.fb-button-left {
		width: 40px;
	}
	.fb-button-right, .fb-button-center, .fb-button-left {
		float: left;
		height: 40px;
		background: url(https://a2.muscache.com/s/1326620451/images/uiwidgets/fb-button-sprite.png?1307134456) left top no-repeat;
	}

	.fb-button, .fb-button-right, .fb-button-center, .fb-button-left {
		display: block;
	}
	.fb-button-center {
		padding: 0 5px 0 8px;
		line-height: 40px;
		font-size: @fontSizeMedium;
		color: white;
		background-color: #6385BA;
		background-position: left -40px;
		background-repeat: repeat-x;
	}

	.fb-button-right {
		width: 6px;
		background-position: 100% -80px;
	}
}



/************** City LIST PAGE  *****************/
.title-black {
	#gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
	.border-radius(6px 6px 0 0);
	border-bottom: 5px solid @secondaryColor;
	h1 {
		color: @grayLighter;
		text-transform: lowercase;
		padding: 9px 20px;
		font-size: @fontSizeMedium;
		font-weight: normal;
		line-height:  @fontSizeMedium + 4;
	}
}
.modal .title-black{
	.border-radius(1.6px 1.6px 0 0);
}


#cities{
	.border-radius(6px);
	background-color: transparent;
	.city{
		@lineHeight: @fontSizeBig + 8;
		margin: 2% 2% 0 0;
		overflow: hidden;
		.square(@cityImageSize);
		.pull-left();
		.box-shadow(2px 3px 6px rgba(0,0,0,.8));
		.border-radius(6px);	
		a {
		    background-size: 100% auto;
			background-repeat: none;
		    display: block;
		    padding-top: @cityImageSize - @lineHeight;
		    text-decoration: none;
		    width: 100%;
			h2 {
				#translucent > .background(@black,0.6);
			    color: @grayLighter;
			    font-weight: lighter;
			    text-align: center;
				font-size: @fontSizeBig;
				// Hover states
				&:hover {
					background-color:transparent;
				}
			}
		} 
	}
}

#beVip{
	.border-radius(6px);
	background-color: @grayLighter;
	background-image: url("	http://www.destinity.es/includes/templates/destinity/images/image_banner_sorteamos.jpg");
	background-size: 270px auto;
	height: 390px;
	.bottomBtn{
		margin-top: 340px;
		text-align: center;
	}
}

/************** DEALS LIST PAGE  *****************/

.deal-list{ 
	.border-radius(6px);
	margin-bottom: @verticalMarging;
	background-color: @grayBackground;
	.closed{
		margin-bottom: @verticalMarging;
		margin: 0 2% 2%;
		.white_buble_for_list();
		font-size: @fontSizeMedium;
		.info{
			h2, p{
				padding-left: 6%;
			}
			#counter{
				width: 350px;
				margin-left:25%;
				.cntSeparator {
				        font-size: @fontSizeMedium * 2;
				        margin: 6% 1%;
				        color: #000;
				 }
			}
		}
		.video{
			margin-top: 2%;
			h2, p{
				padding-left: 6%;
			}
		}
	}
	.deal{
		height: 200px;
		margin: 0 2% 2%;
		.hotelInfo {
			.title{
				h2{
					line-height: 25px;
				}
				overflow: hidden;
				padding: 5px 0;
			}
			.main-info {
				.price {
					font-size: @baseFontSize * 5;
					line-height:  @baseFontSize * 4.5;	
					color: @orange;
					overflow: hidden;
					text-align: right;
					font-weight: bold;
					span{
						font-weight: normal;
						font-size: @fontSizeMedium;
						color: @gray;
					}
				}
				.more-info{
					text-align: right;
				}
				.deal-info{
					text-align: center;
					.before, .nights {
						border-right: 1px solid @gray;
					}
				}
				.btn{
					margin-top: 5px;
					font-size: @fontSizeBig;
				}
			}
		}
	} 
	h2{
		line-height: 40px;
	}
}

.first-deal{
	.border-radius(0 0 6px 6px);
}

.deal{
	.white_buble_for_list();
	font-size: @fontSizeMedium;
}

#zonesNav {
	font-size: @fontSizeSmall;
	height: @zonesNavHeight;
	.navbar{
		margin-bottom: 0px;
		z-index:0;
		.zones{
			.nav {
				.pull-right();
			    margin-bottom: 0;
				padding-top: 2px;
			}

		}
	}
	
}
.zonesNav-fixed{
	position: fixed;
    z-index: 1000;
	top:0px;
	left:0px
}

/***********  Deal Detail Page  ************/

#deal_detail {
	.title{
		margin-bottom: 0;
		padding: 15px 0px;
		background-color: #373738;
		h1{
			padding: 0 15px;
			font-weight: normal;
			font-size: @fontSizeBig;
			color:white;
			small {
				font-size: @fontSizeSmall;
			}
		}
	}
	.hotelImage {	
		img{
			width:100%
		}

	}	
	.deal-info{
		padding: 15px;
		.main-content .buy-column{
			border: 1px solid @grayBorder;
			.border-radius(7px);
			padding: 3%;
			text-align: center;
			font-size: @fontSizeBig;
			color: #666;
			.info-list li {
			    line-height: 30px;
			    border-bottom: 1px solid @grayBorder;
			}
			.price {
				font-size: 70px;
				line-height: 60px;
				font-weight: bold;
				color: @orange;
				overflow: hidden;
			}
			.before{
				padding: 0 0 6px 0;
			}
			.buy-now{
				padding: 10% 0;
				.btn{
					font-size: @fontSizeBig;
				}
			}
			.social {
				p strong {
					color: @orange;
				}
				.fb-twitter{
					text-align:center;
					.twitter{
						margin-top: 2%;
					}
				}
				#notyet{
					.modal-body{
						text-align: left;
					}
				}
			}			
		}
		.image-gallery .thumbnails{
			//margin-left: -16px;
			li {
				//margin-left: 16px;
				a img {
					width: 90px;
				}
			}	
		}
		#map_canvas{
			//width: 840px; 
			height: 300px;
		}
	}
	#photosModal{
		width: auto;
	}
	.popover .inner{
		width: 350px !important;
	}	
}

/********* booking form ***********/

.steps{
	padding: 0 10px 1px;	
	.border-radius(6px);
	margin-bottom: @verticalMarging;
	background-color: @grayBackground;
	label{
		font-weight: bold;
	}
	[id*="step"] {
		margin-bottom: @verticalMarging;
		.white_buble_for_list();
		.padding-centered{
			padding: 40px;
		}
		.alert{
			margin-bottom: 0px;
		}
	}	
	#step1{
		.hotelInfo{
			.price {
			    font-size: 40px;
			    line-height: 40px;
			    padding-bottom: 12px;
			    text-indent: 0;
				color: @orange;
				small{
					font-size: @fontSizeSmall;
					color: #404040;
				}
			}
			.detail-text{
				height: 108px;
				overflow: hidden;
			}
		}
		img{
			.border-radius(6px 0 0 6px);
		}
		
	}
	#step2{ 
		.total{
			text-align: center;
			background: #FFFDBC;
			border: 1px solid #D1D1C9;
			border-width: 1px 0 0 0;
			color: #5F5F57;
			padding: 1.5% 0;
			font-size: @fontSizeMedium;
			.span9{
				text-align: left;
			}
			#total-booking{
				font-size:40px;
			}
		}
		
		option span.total-price{
			//float: right;
		}
		
	} 
	#step4 #cc_details {
		background: url(/public/images/cc_logos.png?1300304855) no-repeat 30px 0;
		padding: 40px 0 0 0px;
	}
	.purchase{
		background: #FFFDBC;
		border: 1px solid #D1D1C9;
		border-width: 1px;
		padding: 30px;
		.border-radius(6px);
	    .box-shadow();
		#confirm-booking{
			font-size: @fontSizeMedium;
			margin-top: 6px;
		}
	}
}

.couponForm {
	color: #3E342B;
	background-color:#F9F4B8;
    border: 1px solid #DDCC13;
	.border-radius(5px 5px 5px 5px);
    .box-shadow();
	.form-stacked {
	    padding: 20px;
	    margin-bottom: 0px;
		.clearfix {
		    margin-bottom: 0px;
		}
	}
}

/********* dashboard ***********/
.dashboard {
	margin-bottom: @verticalMarging;
	background-color: white;
	.border-radius(0 0 6px 6px);
    min-height: 400px;
	.tabs-container{
		padding: 40px;
	}
	ul.tabs{
		padding-top: 10px;
		padding-left: 10px;
	}
	.noBookings{
		text-indent: 10px;
		.btn{
			font-size: @fontSizeMedium;
			margin: 10% 0;
		}
	}
	.actions{
		margin-top: 16px;
	}
	table th, table td {
	    text-align: center;
	}
}

/** REGISTER AND LOGIN FROM NEWSLETTER**/
#registerForm, #loginForm{
	.fields{
		padding-top: 20px;
	}
	.facebook{
		padding-top: 40px;
		text-align: center;
	}
}
#loginForm{
	.facebook{
		padding-top: 20px;
	}
}

@import "rlb_responsive.less";  
