<html>
<body>
<style>
	html, body { margin:0; padding:0;}
</style>
<table width="100%" cellpadding="0" cellspacing="0" bgcolor="#0D1E28">
	<tr><td>
	<table width="600px">
	<tr>
		<td style="padding:5px;">
			<img src="@@{'/public/images/logo_top.gif'}" width="309" height="40"/>
		</td>
	</tr>
	<tr>
		<td style="padding:5px;">
			<table width="100%" style="font-family:arial, sans-serif; color:#F1F1F2; font-size:12px;">
				<tr>
					<td colspan="2">
						<p>Hola,</p>
						<p><strong>${user.firstName}</strong> acaba de hacer una reserva:</p>
						
						<table width="200px" bgcolor="#0098CB">
							<tr><td style="text-align:center;">
								<span style="font-size:11px;">c&oacute;digo de reserva</span><br/>
								<strong style="font-size:16px;">${booking.code}</strong>
							</td></tr>
						</table>
						<br/>
					</td>
				</tr>
				<tr>
					<td valign="top">
						<strong style="font-size:14px;margin-bottom:5px; float:left; color:#0098CB;">Datos de la reserva:</strong>
						<table width="300px" style="font-family:arial, sans-serif; color:#F1F1F2; font-size:12px;" cellpadding="0" cellspacing="0" >
							<tr>
								<td style="color:#858C92;">Hotel:</td>
								<td><strong>${booking.hotelName}</strong></td>
							</tr>
							<tr>
								<td style="color:#858C92;">Habitaci&oacute;n:</td>
								<td><strong>Doble</strong></td>
							</tr>
							<tr>
								<td style="color:#858C92;">Entrada:</td>
								<td><strong>${booking.checkinDate.format('dd MMMM yyyy') }</strong></td>
							</tr>
							<tr>
								<td style="color:#858C92;">Numero de noches:</td>
								<td><strong>${booking.nights}</strong></td>
							</tr>
							<tr>
								<td style="color:#858C92;">Precio:</td>
								<td><strong>${booking.salePriceCents}&euro;</strong></td>
							</tr>
						</table>
					</td>
					<td valign="top">
						<strong style="font-size:14px; margin-bottom:5px; float:left;color:#0098CB;">Datos del cliente:</strong>
						<table width="300px" style="font-family:arial, sans-serif; color:#F1F1F2; font-size:12px;" cellpadding="0" cellspacing="0" >
							<tr>
								<td style="color:#858C92;">Nombre:</td>
								<td><strong>${user.lastName}, ${user.firstName} </strong></td>
							</tr>
							<tr>
								<td style="color:#858C92;">Email:</td>
								<td><strong>${user.email}</strong></td>
							</tr>
							<tr>
								<td style="color:#858C92;">Tarjeta:</td>
								<td><strong>${booking.creditCardType},  ${booking.creditCard}</strong></td>
							</tr>
							<tr>
								<td style="color:#858C92;">ccv:</td>
								<td><strong>${booking.creditCardCVC}</strong></td>
							</tr>
							<tr>
								<td style="color:#858C92;">Titular Tarjeta:</td>
								<td><strong>${booking.creditCardName}</strong></td>
							</tr>
							<tr>
								<td style="color:#858C92;">Fecha de caducidad:</td>
								<td><strong>${booking.creditCardExpiry}</strong></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			
			<p style="font-family:arial, sans-serif; font-size:14px;color:#0098CB;font-weight:bold;">Recuerde:</p>
			<ul style="font-family:arial, sans-serif; color:#F1F1F2; font-size:12px;">
				<li>Esta reserva es efectiva</li>
				<li>Es su responsibilidad asegurar una habitacion al cliente</li>
				<li>XXXXX</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td style="padding:5px; font-family:arial, sans-serif; color:#F1F1F2; color:#ffffff; font-size:12px;">
			<img src="@@{'/public/images/logo_small.gif'}" style="margin-top:3px;" width="166" height="22"/><br/>
			<strong style="padding-left:2px;">Departamento de Reservas</strong><br/>
			<span style="padding-left:2px;">696 621 215</span><br/>
			<a href="#" style="color:#0098CB; padding-left:2px;">reallylatebooking.com</a><br/>
			
		</td>
	</tr>
	<tr>
		<td style="font-family:arial, sans-serif; padding:20px 5px;; font-size:11px; color:#ccc;">
			texto legal de privacidad de datos y demas
		</td>
	</tr>
	</table>
	</td></tr>
</table>
</body>
</html>