<html>
<body>
<style>
	html, body { margin:0; padding:0;}
</style>
<table width="100%" cellpadding="0" cellspacing="0" bgcolor="#0D1E28">
	<tr><td>
	<table width="400px">
	<tr>
		<td style="padding:5px;">
			<img src="@@{'/public/images/logo_top.gif'}" width="309" height="40"/>
		</td>
	</tr>
	<tr>
		<td style="padding:5px;">
			<table width="100%" style="font-family:arial, sans-serif; color:#F1F1F2; font-size:12px;">
				<tr>
					<td colspan="2">
						<h1 style="font-size:16px;">&{'mails.booking.hotel.hi'} <strong>${user.firstName}</strong>,<br/></h1>
					</td>
				</tr>
				<tr>
					
					<td valign="top">
						<p>&{'mails.recoverpass.p1'}</p>
						<p>&{'mails.recoverpass.p2'}</p>
						<p><a href="@@{users.resetPasswordForm().secure()}/${user.resetCode}"> &{'mails.recoverpass.link'}</a></p>
						
						<br/><br/>
						<img src="@@{'/public/images/logo_small.gif'}" style="margin-top:3px;" width="166" height="22"/><br/>
			<a href="http://www.reallylatebooking.com style="color:#0098CB; padding-left:2px;">reallylatebooking.com</a><br/>
			<p>&{'mails.booking.client.social'} <a href="http://www.facebook.com/ReallyLateBooking" style="color:#0098CB;">Facebook</a>, <a href="http://twitter.com/#!/rlatebooking/" style="color:#0098CB;">Twitter</a>.</p>
			
					</td>
					<td valign="top" width="140" valign="top">
						<img src="@@{'/public/images/mail_iphone_app.jpg'}" width="133" height="293"/>
					</td>
				</tr>
			</table>
			
		</td>
	</tr>
	<tr>
	</tr>
	<tr>
		<td style="font-family:arial, sans-serif; padding:20px 5px;; font-size:11px; color:#ccc;">
			&{'mails.rlb.footer'}
		</td>
	</tr>
	</table>
	</td></tr>
</table>
</body>
</html>