<html>
<body>
<style>
	html, body { margin:0; padding:0;}
</style>
<table width="100%" cellpadding="0" cellspacing="0" bgcolor="#0D1E28">
	<tr><td>
	<table width="700px">
	<tr>
		<td style="padding:5px;">
			<img src="http://rlbmedia.s3.amazonaws.com/emails/logo_top.gif" width="309" height="40"/>
		</td>
	</tr>
	<tr>
		<td style="padding:5px;">
			<table width="100%" style="font-family:arial, sans-serif; color:#F1F1F2; font-size:12px;">
				<tr>
					<td colspan="2">
						<h1 style="font-size:16px;">
						&iexcl;Ya puedes empezar a disfrutar ReallyLateBooking!</h1>
					</td>
				</tr>
				<tr>
					
					<td valign="top">
						<p>Te escribimos porque nos pediste una invitaci&oacute;n para probar RLB en cuanto abri&eacute;semos puertas. Aunque con un poco de retraso ... &iexcl;Ese momento ha llegado!</p>
						<p>Te queremos pedir que tengas en cuenta que estamos en beta y que nos ayudes a mejorar, cualquier fallo que veas en la aplicaci&oacute;n o sugerencia para mejorarla te agradeceremos que nos lo cuentes.</p>
						<p>Estos primeros d&iacute;as s&oacute;lo abrimos con los hoteles de Santiago de Compostela, pero a lo largo de la semana iremos a&ntilde;adiendo todas las ciudades en las que ya tenemos acuerdos con hoteles como Barcelona y Madrid</p>
						<p>Conf&iacute;a en  ReallyLateBooking para conseguir los mejores precios y sin necesidad de reservar d&iacute;as antes. Siempre tendr&aacute;s habitaciones disponibles el &uacute;ltimo d&iacute;a.</p>
						<p>Disfruta este nuevo modo de viajar, &iexcl;reserva ahora tu hotel para esta noche!</p>
						<br/>
						<p>Muchas Gracias,</p>
						<p>El equipo de RLB</p>

						<br/><br/>
			<a href="http://www.reallylatebooking.com style="color:#0098CB; padding-left:2px;"><img src="http://rlbmedia.s3.amazonaws.com/emails/logo_small.gif" style="margin-top:3px;" width="166" height="22"/></a><br/>
			<p>Para estar al d&iacute;a de todas nuestras ofertas y las nuevas ciudades abre la aplicaci&oacute;n en tu m&oacute;vil con frecuencia, y visita nuestras paginas en <a href="http://www.facebook.com/ReallyLateBooking" style="color:#0098CB;">Facebook</a>, <a href="http://twitter.com/#!/rlatebooking/" style="color:#0098CB;">Twitter</a>.</p>
			
					</td>
					<td valign="top" width="140" valign="top">
						<img src="http://rlbmedia.s3.amazonaws.com/emails/mail_iphone_app.jpg" width="133" height="293"/>
					</td>
				</tr>
			</table>
			
		</td>
	</tr>
	<tr>
	</tr>
	<tr>
		<td style="font-family:arial, sans-serif; padding:20px 5px;; font-size:11px; color:#ccc;">
			ReallyLateBooking es una marca registrada propiedad de IIPIR Software Development S.L.
		</td>
	</tr>
	</table>
	</td></tr>
</table>
</body>
</html>