<html style="margin: 0;padding: 0;">
<head>
	<meta charset="utf-8">
</head>
<body style="margin: 0;padding: 0;">
	<div id="wrapper" style="padding: 10px;max-width: 500px;color: #596366;font-family: arial, sans-serif;font-size: 12px;">
		<!-- HEADER -->
		#{if partner != null}
		<img src="${partner.logo}" style="width: 100%; max-width: 226px; margin-bottom: 20px; margin-left: 25px;" />
		#{/if}
		<img src="http://d2f5bmx5jz1oq8.cloudfront.net/emails/v2/rlb_logo_mail.gif" alt="ReallyLateBooking" 
			title="ReallyLateBooking" id="rlb_top_logo" 
			style="width: 100%; margin-bottom: 20px; max-height: 40px; #{if partner != null}max-width: 186px;#{/if}#{else}max-width: 226px;#{/else}">
	
	<table width="100%" style="font-family:arial, sans-serif; color:#596366; font-size:12px;">
	<tr>
		<td style="padding:5px;">
			<table width="100%" style="font-family:arial, sans-serif; color:#596366; font-size:12px;">
				<tr>
					<td colspan="2">
						<h1 style="font-size:16px; color:#0098CB;">&{'mails.booking.client.title'}</h1>
						<p>&{'mails.booking.hotel.hi'} <strong>${booking.userFirstName}</strong>, &{'mails.booking.client.justbooked'} <strong>${booking.hotelName}</strong></p>
						<p>&{'mails.booking.client.showreceipt'}</p>
						<table width="200px" bgcolor="#0098CB">
							<tr><td style="text-align:center;">
								<span style="font-size:11px;">&{'mails.booking.code'}</span><br/>
								<strong style="font-size:16px;">${booking.code}</strong>
							</td></tr>
						</table>
						<br/>
					</td>
				</tr>
				<tr>
					<td colspan="2" valign="top">
						<strong style="font-size:14px;margin-bottom:5px; float:left; color:#0098CB;">&{'mails.booking.data'}:</strong>
						<br/><br/>
						<table width="300px" style="font-family:arial, sans-serif; color:#596366; font-size:12px;" cellpadding="0" cellspacing="0" >
							<tr>
								<td style="color:#858C92;">Hotel:</td>
								<td><strong>${booking.hotelName}</strong></td>
							</tr>
							<tr>
								<td style="color:#858C92;">&{'mails.booking.room'}:</td>
								<td><strong>Doble</strong></td>
							</tr>
							<tr>
								<td style="color:#858C92;">&{'mails.booking.checkin'}</td>
								<td><strong>${booking.checkinDate.format('dd MMMM yyyy') }</strong></td>
							</tr>
							<tr>
								<td style="color:#858C92;">&{'mails.booking.nights'}:</td>
								<td><strong>${booking.nights}</strong></td>
							</tr>
							<tr>
								<td style="color:#858C92;">&{'mails.booking.regime'}:</td>
								#{if booking.breakfastIncluded}
									<td><strong>&{'mails.booking.regime.breakfast.yes'}</strong></td>
								#{/if}
								#{else}
									<td><strong>&{'mails.booking.regime.breakfast.no'}</strong></td>
								
								#{/else}
								
							</tr>
							<tr>
								<td style="color:#858C92;">&{'mails.booking.price'}:</td>
								<td><strong>${booking.totalSalePrice}&euro; &{'mails.booking.tax'}</strong></td>
							</tr>
						</table>
						<br/><br/>
					</td>
				</tr>
				<tr>
					<td colspan="2" valign="top">
						<strong style="font-size:14px;margin-bottom:5px; float:left; color:#0098CB;">&{'mails.booking.client.bookPaid'}</strong>
						<br/><br/>
					</td>
				</tr>
				<tr>
					<td colspan="2" valign="top">
						<strong style="font-size:14px; margin-bottom:5px; float:left;color:#0098CB;">&{'mails.booking.hotel.client.data'}:</strong>
						<br/><br/>
						<table width="300px" style="font-family:arial, sans-serif; color:#596366; font-size:12px;" cellpadding="0" cellspacing="0" >
							<tr>
								<td style="color:#858C92;">&{'mails.booking.client.name'}:</td>
								<td><strong>${booking.userLastName}, ${booking.userFirstName}</strong></td>
							</tr>
							<tr>
								<td style="color:#858C92;">&{'mails.booking.client.email'}:</td>
								<td><strong>${booking.userEmail}</strong></td>
							</tr>
						</table>
						<br/><br/>
					</td>
				</tr>
				<tr>
					<td colspan="2" valign="top">
						<strong style="font-size:14px; margin-bottom:5px; float:left;color:#0098CB;">&{'mails.booking.hotel.client.map'}:</strong>
						<br/>
						<strong>${deal.address}</strong>
						<br/>
							<a href="http://maps.google.com/maps?q=${deal.latitude},${deal.longitude}+(${deal.hotelName})&iwloc=A">
								<img src="http://maps.google.com/maps/api/staticmap?center=${deal.latitude},${deal.longitude}&amp;zoom=13&amp;size=500x300&amp;markers=color:blue|${deal.latitude},${deal.longitude}&amp;sensor=true">
							</a>
						<br/><br/>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	</table>
				<!-- FOOTER -->
		<div class="signature" style="margin-bottom: 20px;">
			<p>&{'mails.booking.client.thanks'}</p>

			<img src="http://d2f5bmx5jz1oq8.cloudfront.net/emails/v2/rlb_logo_mail_footer.gif" alt="ReallyLateBooking" title="ReallyLateBooking" id="rlb_footer_logo" style="width: 136px;height: 16px;">
			<p style="color: #596366;font-size: 12px;margin: 0 0 10px 0;clear: both;">
				<span class="department" style="color: #0C1924;font-weight: bold;margin: 0;display: block;">&{'mails.rlb.booking.department'}</span>
				<span class="telephone" style="color: #596366;font-weight: bold;margin: 0;display: block;">&{'mails.rlb.booking.department.phone'}</span>
				<span class="site_url" style="color: #0C1924;font-weight: bold;margin: 0;display: block;">
					<a href="http://www.reallylatebooking.com" style="color: #045976;text-decoration: none;">www.reallylatebooking.com</a>
				</span>
		</p></div>
		<p class="small" style="color: #596366;font-size: 10px;margin: 0 0 10px 0;clear: both;">
			&{'mails.booking.client.social'} <a href="http://www.facebook.com/ReallyLateBooking" style="color: #045976;text-decoration: none;">Facebook</a>, <a href="http://twitter.com/#!/rlatebooking/" style="color: #045976;text-decoration: none;">Twitter</a>.
		</p>
		<div class="small_banner_group" style="float: left;margin-right: 3px;">
			<a href="&{'itunes.url'}" title="Download iPhone App" style="color: #045976;text-decoration: none;">
				<img src="http://d2f5bmx5jz1oq8.cloudfront.net/emails/v2/mail_appStore.gif" class="small_banner" style="border: 0;width: 108px;height: 37px;">
			</a>
			<a href="&{'android.play.url'}" title="Download Android App" style="color: #045976;text-decoration: none;">
				<img src="http://d2f5bmx5jz1oq8.cloudfront.net/emails/v2/mail_android.gif" class="small_banner" style="border: 0;width: 108px;height: 37px;">
			</a>
		</div>
		<div class="small_banner_group" style="float: left;margin-right: 3px;">
			<a href="http://www.facebook.com/ReallyLateBooking" title="Follow us on Facebook" style="color: #045976;text-decoration: none;">
				<img src="http://d2f5bmx5jz1oq8.cloudfront.net/emails/v2/mail_facebook.gif" class="small_banner" style="border: 0;width: 108px;height: 37px;">
			</a>
			<a href="http://twitter.com/#!/rlatebooking/" title="Follow us on Twitter" style="color: #045976;text-decoration: none;">
				<img src="http://d2f5bmx5jz1oq8.cloudfront.net/emails/v2/mail_twitter.gif" class="small_banner" style="border: 0;width: 108px;height: 37px;">
			</a>
		</div>
		
		<p class="small powerBy" style="color: #8D989A;font-size: 10px;margin: 0 0 10px 0;clear: both;padding: 20px 0;">
			<span class="textLogo">
				<em class="really" style="font-style: normal;color: #5A6366;">Really</em><em class="late" style="font-style: normal;color: #0098CB;">Late</em><em class="booking" style="font-style: normal;color: #0C1924;">Booking</em>
			</span>
			&{'mails.rlb.footer'}
		</p>
	</div>	

</body>
</html>



