<html><body>
<p>Hola <b>${user.firstName}</b>, bienvenido a ReallyLateBooking</p>
<p>Book same-day hotel rooms for up to 70% off in Madrid, barcelona, Sevilla, Santiago de Compostela & A Coru–a. More cities coming soon.</p>
<p>Why only 3 hotels per city? So we can negotiate with hotels to get you the best deal possible. <p>
<p>ReallyLateBooking is here to get you into a room upstairs - at a fraction of the price compared to the big booking sites.</p>
Enjoy ReallyLateBooking! Book in the moment, anywhere. Get a hotel, tonight!
</body>
</html>