* { margin: 0px; padding: 0px;
}
.hidden { display:none;}
.toolbar {
  -webkit-box-sizing: border-box;
  background: url(../images/layout/tooltip_bg.png) left center repeat-x;
  border-bottom: 1px solid #1B3C50;
  height: 45px;
  padding: 10px;
  position: relative;
}
body {
  -webkit-perspective: 800;
  -webkit-text-size-adjust: none;
  -webkit-transform-style: preserve-3d;
  -webkit-user-select: none;
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  color:#F1F1F2;
  padding-bottom:56px;
}

body > section {
  background: #0D1E28;
  display: none;
  left: 0px;
  min-height: 100%;
  position: absolute;
  width: 100%;
  -webkit-transform: translate3d(100%,0%,0%);
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -webkit-transform-style: preserve-3d;
}

.reverse {
  -webkit-transform: translate3d(-100%, 0%, 0%);
  opacity: 0;
}

.current {
  -webkit-transform: translate3d(0%,0%, 0%);
  opacity: 1;
}
h1, h2 {
  font: normal normal bold 18px/normal Helvetica, Arial, sans-serif;
  margin: 10px 20px 6px;
  text-shadow: rgba(0, 0, 0, 0.40) 1px 1px 2px;
}
body.landscape .toolbar > h1 {
  margin-left: -125px;
  width: 250px;
}

.toolbar > h1 {
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  left: 50%;
  line-height: 1em;
  margin: 1px 0px 0px -75px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  text-shadow: rgba(0, 0, 0, 0.398438) 0px -1px 0px;
  top: 10px;
  white-space: nowrap;
  width: 150px;
}

ul {
  padding: 0; margin:0;
}

ul li {
  font-size: 14px;
  border-top: 1px solid #1B3C50;
  list-style-type: none;
  background: url(../images/layout/item_bg.png) left top repeat-x;
}

li:first-child{
  border-top-color: #07151D;
}



body > .current {
  display: block !important;
}
body > .current.hidden { display:none !important;}

body.landscape > * {
  min-height: 320px;
}


ul li a, li.img a + a {
	color:#F1F1F2;
  display: block;
  margin: -10px;
  overflow: hidden;
  padding: 12px 10px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.button, .cancel, .add {
-webkit-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAeCAIAAACqmwlGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAatJREFUeNqVlMtKw0AUhqfJSRpTk5Za1FAvxS6sgrVeFrpQdOcT+IpuBVHcuVBQpCDYjeAdkSpavDTGNJkz43FpFZz8DISZ+b75J5tJbWwfMsZuby7rh/vN5v1H+539TMZxPa84v7g0WirTFISQR/t7jdOTcqVaGp+ze50uIfDbL62H3a3NqerMwtIqXF9dnF+dL6+t9/S6hmFqut4luHns80aKpcrxwY43PKK7+f6J2ZVcYTCl6ZIxKuwatEhbpmU72UKjfgCakXFz/TwW7L8QlgIbTNtBwVAgU0g644IGZoycqYVgQGRRLBQFggEpHJUFBI4iUhYIBhSSPooCwUB0zEWiBsERlRsECJSIUlEgOHmDH3TM909FgWBgqe8oCgRrLGGADlcvIDB5A2nfQ7kD6D5J/jn5lZILBoAUQgWVUgDoWi5r8zhUEXgU5nOOVp0sB+0W+f8WEDY9MabpYNUqQ29Pd1Hoi79eA1qkLQIIY5CGIOwUvYHBQr5xdvn4/BSGnS7BstIDhexUbVo3jNarD1Ky5xfftszF+WqPZcKvp5IjfoYRoYHv0/QLHvXjAb8xkEMAAAAASUVORK5CYII=) 0 5 0 5 stretch stretch;
background: none;
color:#F1F1F2;
border-width: 0px 5px;
font-family: inherit;
font-size: 12px;
font-weight: bold;
height: 30px;
line-height: 30px;
margin: 0px;
overflow: ;
padding: 0px 3px;
position: absolute;
right: 6px;
text-decoration: none;
text-overflow: ellipsis;
text-shadow: rgba(0, 0, 0, 0.496094) 0px -1px 0px;
top: 8px;
white-space: nowrap;
width: auto;
}

.back {
	background: url(../images/layout/sp.png) -78px -42px no-repeat;
	position: absolute;
	top: 8px;
	left: 6px;
	right: auto;
	height: 30px;
	width: 27px;
	text-indent:-5000px;
}



/*= FLUID PANELS */
.pf { position:relative; }
.pf .pf_l {	position:absolute; }

.items_list .pf{ height:117px;}
	.items_list .pf .pf_l {  
		background: url(../images/layout/sp.png) left -102px no-repeat;
		
	}
		.items_list .pf .pf_l div {
			width: 155px; 
			height:117px;
			background: url('../images/icons/preloader.gif') no-repeat center center;
		}
		.items_list .pf .pf_l img {
			margin:8px 0 0 8px;
		}
	.items_list .pf .pf_r { margin-left: 160px; }

	.items_list h2 { margin:0 0 5px 0; font-size:14px;}

.price_mod {
	margin:15px 0;
	text-shadow: rgba(0, 0, 0, 0.40) 1px 1px 2px;
	
	font-size:35px;
	min-width:130px;
}
	.price_mod em {
		display:block;
		font-size:32%;
		font-style:normal;
	}
	.price_mod strong {
		display:block;
		float:left;
		font-size:100%;
		line-height:85%;
		height:28px;
		border-right:solid 1px #293034;
		padding-right:5px;
		margin-right:5px;
	}
		.price_mod strong em {
			font-size:50%;
			display:inline;
			margin-left:2px;
			font-weight:normal;
		}
		.price_mod div { color:#868D92; margin-top:-3px; float:left;}
		.price_mod div strong { font-size:50%; line-height:70%; border-right-width:0; height:14px; margin-top:2px;}
		.price_mod div strong em { font-size:60%; }

.arrow {
	position:absolute;
	top:42px;
	right:5px;
	width:27px;
	height:25px;
	background: url(../images/layout/sp.png) 0 -44px no-repeat;
}
	.elegante .arrow{	background-position: -26px -44px; }
	.confort .arrow{	background-position: -52px -44px; }

.type {
	display:block;
	clear:both;
	width:80px;
	height:25px;
	background:#E5E5A0;
	
	border-bottom-left-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
	border-top-left-radius: 4px 4px;
	border-top-right-radius: 4px 4px;
}
	.elegante .type { background-color:#C6BCD1;}
	.confort .type { background-color:#A3C0D3;}
	
	.type span {
		background: url(../images/layout/sp.png) 0 -24px no-repeat;
		width:60px;
		height:19px;
		display:block;
		margin-top:4px;
		margin-left:10px;
		float:left;
	}
		.lujo .type span { background-position: -116px -24px; width:32px; margin-left:23px;}
		.confort .type span { background-position: -59px -24px;}
	
.items_list .price_mod {
	float:left;
}
.footer {
	background: url(../images/layout/tooltip_bg.png) left center repeat-x;
	border-bottom: 1px solid #1B3C50;
	
	position: absolute;
	bottom:0;
	
	width:100%;
}
.footer ul {
	display:table; width:100%;
}
.footer li {
	display:table-cell;
	border-top-width:0;
	border-left: 1px solid #1B3C50;
	height: 45px;
	text-align:center;
	padding:5px 0 0 0;
	font-size:12px;
	font-weight:bold;
	background:transparent;
} 
	.footer li:first-child{
	  border-left-width: 0;
	}
	.footer li span {
		background: url(../images/layout/sp.png) 0 -74px no-repeat;
		width:28px;
		height:25px;
		display:block;
		margin:0 auto;
	}
	.footer li.myItems span { background-position:-26px -74px;}
	.footer li.myData span { background-position:-52px -74px;}

.bt {
	background: #0098CB;
	float:left;
	padding:5px;
	margin-top:5px;
	text-decoration:none;
	
	border-bottom-left-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
	border-top-left-radius: 4px 4px;
	border-top-right-radius: 4px 4px;
}
	.bt span{
		display:block;
		height:25px;
		line-height:25px;
		font-weight:bold;
		text-align:center;
		color:#fff;
	}	
	
.detail {
	background: #0D1E28 url(../images/layout/item_bg.png) left top repeat-x;
	font-size:13px;
}	
	.detail .image {
		background: #000 url('../images/icons/preloader_black.gif') no-repeat center center;
	}
	.detail .image, .detail .image a, .detail .image img {min-height:176px;}
	.detail .address, .detail .buy, .detail .descr {
		padding:10px 10px 10px 5px;
		border-bottom:solid 1px #566269;
	}
	.detail .buy {
		clear:both;
		background-color:#000;
		
		height:63px;
	}
		.detail .buy .price_mod {
			float:left;
			font-size:45px;
			margin-left:20px;
			margin-top:10px;
		}
			.detail .buy .price_mod strong {
				height:36px;
			}
			.detail .buy .price_mod div strong {
				margin-top:6px;
			}
		.detail .buy a {
			background: #0098CB;
			float:right;
			padding:5px;
			margin-top:13px;
			
			border-bottom-left-radius: 4px 4px;
			border-bottom-right-radius: 4px 4px;
			border-top-left-radius: 4px 4px;
			border-top-right-radius: 4px 4px;
		}
			.detail .buy a span{
				float:left;
				height:25px;
				width:100px;
				background: url(../images/layout/sp.png) 0 0 no-repeat;
				text-indent:-5000px;
			}
	.detail .address .icon, .detail .descr .icon {
		background: url(../images/layout/sp.png) -83px -77px no-repeat;
		width:20px;
		height:20px;
		float:left;
	}
		.detail .descr .icon {
			background-position:-109px -77px;
		}
		
		.detail .address {
			position:relative;
			clear:both;
			padding-top:0;
		}
			.detail .address strong {
				display:block;
				line-height:20px;
			}
			.detail .address .city {
				margin-left:20px;
			}
			.detail .address .map {
				position:absolute;
				top:6px;
				width:auto;
				right:5px;
				height:25px;
				line-height:25px;
				font-size:12px;
				margin-right:3px;
				
			}
				.detail .address .map span {
					float:right;
					height:25px;
					width:26px;
					margin-left:5px;
					background: url(../images/layout/sp.png) -104px -42px no-repeat;
				}
				
		.detail .descr strong {
			line-height:20px;
		}
		.detail .descr .content {
			margin-left:20px;
			font-size:12px;
		}


.welcome_bg_img { position:absolute; top:0;z-index:0;}		
#welcome h1{
	background: url(../images/layout/welcome_logo.png) center 80px no-repeat;
	width:100%;
	height:300px;	
	position:relative;
	z-index:1;
	margin:0;
	text-indent:-5000px;
}

#login .loginPanel {
	position:relative;
	z-index:1;
	margin:20px auto 20px auto;
	
	width:288px;
	
}
	#login h1 {
		background: url(../images/layout/welcome_logo.png) center top no-repeat;
		width:288px;
		height:40px;
		position:relative;
		z-index:1;
		margin:80px auto 0 auto;
		text-indent:-5000px;
	}
	#login .loginPanel label {
		display:block;
		text-align:center;
		margin:10px 0 3px;
	}

	#login .loginPanel input {
	    border-radius: 4px 4px 4px 4px;
	    font-size: 16px;
	    margin-bottom: 10px;
	    padding: 5px 0;
	    text-indent: 5px;
	    width: 100%;
	}
	
	#login .loginError {
		background: #8A0003;
		padding:10px 20px 10px 5px;
		margin-bottom:20px;
		border-radius:10px;
		box-shadow:0 0 10px #000;
	}
		#login .loginError .icon {
			background: url(../images/layout/sp.png) -103px -219px no-repeat;
			width:25px;
			height:25px;
			float:left;
			margin-right:5px;
		}
		#login .loginError p { margin:3px 0 0 0;}
	#login .loginForm {
		background: #0D1E28 url(../images/layout/item_bg.png) left top repeat-x;
		padding:10px 20px;
		border-radius:10px;
		box-shadow:0 0 10px #000;
	}
	.loginForm a { display:block; float:none;height:25px; width:100px; margin:10px 0 0 auto;}
	.loginForm a span{
		float:right;
		height:25px;
		width:100px;
		text-indent:-5000px;
		background: url(../images/layout/sp.png) 0 -219px no-repeat;
	}
	
	#login .invitation {
		clear:both;
		padding:20px 20px 0;
		font-size:80%;
	}
		#login .invitation a { background-color: #D5D5D6;  display:block; float:none;height:25px; width:150px; margin:10px 0 0 auto;}
		#login .invitation a span {color: #0C1B24;}
		
#cities_list li { position:relative;}

#cities_list li  .arrow { top:11px; }

.fl { float:left;}
.fr { float:right;}
.cb { clear:both;}

form {
	padding:5px 10px 5px 5px;
	
}
form input {
	display:block;
	height:30px;
	width:100%;
	max-width:100%;
	font-size:14px;
	font-weight:bold;
	margin-bottom:5px;
	
	border-radius:3px;
}

a#confirmBuy { display:block; float:none;height:25px; width:113px; margin:10px 5px 0 auto;}



		