/* Override some defaults */



table th, table td {
    text-align: center;
}

.help-block {
    display: inline-block;
}

.hero-unit h1 {
	font-size: 54px;
}


	


.social {
	text-align: center;
	}
.social p strong {
	color: #F47536;
}
.social-buttons{
	padding:13px;
	}

#deal_detail .hotelImage {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#deal_detail .hotelImage img{
	height: 260px;
	width: 700px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
#deal_detail .hotelImage .captions {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-image: url(http://a3.ak.lscdn.net/deals/images/cobrand/escapes/black60.png);
	background-origin: padding-box;
	height: 42px;
}

#deal_detail .hotelImage .imageContainer{
	height: 218px;
	}
	
#deal_detail .title{
	height: 48px;
	margin-bottom: 0;
	padding: 15px 0px;
	background-color: #373738;
	}

#deal_detail .title h1{
	padding: 0 15px;
	font-weight: normal;
	font-size: 30px;
	color:white;
	}
	
#deal_detail .title	h1 small {
	font-size: 16px;
}

#deal_detail .deal-info{
	padding: 15px;
	}
	
#deal_detail .main-content .buy-column{
	border: 1px solid #D9D9D9;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	height: 400px;
	padding: 10px;
    width: 170px;
}




.buy-column .info-list li {
    line-height: 30px;
    border-bottom: 1px solid #D9D9D9;
}
.buy-column .before{
	padding: 0 0 6px 0;
	height: 20px !important;
	}
.buy-column .buy-now{
	padding: 18px 0;
	height: 58px;
	}	
	
.buy-column .buy-now .btn{
	font-size: 30px !important;
	}
	


.image-gallery .media-grid a img {
	width: 90px;
}
.popover .inner{
	width: 350px !important;
}

.dashboard {
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
    height: 100%;
    min-height: 400px;
}
.dashboard ul.tabs{
	padding-top: 10px;
	padding-left: 10px;
}

.dashboard .noBookings{
	text-indent: 10px;
	}
.bordered{
	background-color: white;
    background-repeat: no-repeat;
    border: 1px solid #C3C3C3;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin: -1px;
	overflow: hidden;
}

#step1{
	height: 227px;
	}
	
#step1 img{
	border-radius: 6px 0 0 6px;
	-moz-border-radius: 6px 0 0 6px;
	-webkit-border-radius: 6px 0 0 6px;
	}
	
.steps, .bordered-container{
	margin-top: 20px;
	margin-left: 50px !important;
	margin-right:20px;
	}
	
#step1 .price {
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 12px;
    text-indent: 0;
}
#step1 .price small{
	font-size: 14px;
	color: #404040;
	}
option span.total-price{
	float: right;
	}
#step2 .total{
	background: #FFFDBC;
	border: 1px solid #D1D1C9;
	border-width: 1px 0 0 0;
	height: 20px;
	line-height: 15px;
	color: #5F5F57;
	padding: 18px;
	font-size: 18px;
	}
#step2 #total-booking{
	font-size:40px;
	}
	
#step2 fieldset {
    margin-bottom: 0;
}

#step4 #cc_details {
	background: url(/public/images/cc_logos.png?1300304855) no-repeat 140px 0;
	padding: 40px 0 0 0px;
}

.couponForm {
	color: #3E342B;
	background-color:#F9F4B8;
    border: 1px solid #DDCC13;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.couponForm .form-stacked {
    padding: 20px;
    margin-bottom: 0px;
}
.couponForm .form-stacked .clearfix {
    margin-bottom: 0px;
}