

<div data-role="footer" class="ui-bar" data-id="bookingFooter" data-position="fixed"  data-theme="b">
			<div class="ui-grid-a">
				<div class="ui-block-a">
					<div class="ui-grid-a">
						<div class="ui-block-a price">${deal.salePriceCents}&euro;</div>
						<div class="ui-block-b before">${deal.priceCents}&euro;</div>	   
					</div>
					<div class="ui-grid-solo">
						<div class="nights">Stay 1-3 Nights</div>
					</div>
				</div>
				<div class="ui-block-b"  data-theme="a">
					<a href="index.html" data-role="button" data-inline="false"  class="bookingButton">Book it</a> 
				</div>	
			</div>
		</div>
