#{extends 'layout.html' /}
#{set title: user.firstName /}

#{set 'moreScripts'}
	<script type="text/javascript">
		$(function() {
			//$("table#bookings").tablesorter();
			//get the current active tab from url hash
			var activeTab = $(location).attr('hash');
			$('a[href="'+activeTab+'"]').click();
		});
	</script>
#{/set}

       		<div class="row-fluid">
	        	<div class="span12 title-black">
		           <h1>&{'web.dashboard.title'}</h1>
		        </div>
	        </div>
	        <div class="row-fluid">
	        	<div class="span12 dashboard tabbable">
	        		<div class="tabs-container">
	        		<ul class="nav nav-tabs" >
					  <li class="active" ><a href="#mybookings" data-toggle="tab"><i class="icon-shopping-cart"></i>
					    &{'web.dashboard.mybookings.title'}</a>
					  </li>
					  *{* Not in use 
					  <li><a href="#mycredits" data-toggle="tab"><i class="icon-road"></i>
					  	 &{'web.dashboard.mycredits.title'}</a></li>
					  <li><a href="#mycoupons" data-toggle="tab"><i class="icon-gift"></i>
					  	&{'web.dashboard.mycoupons.title'}</a>
					  </li>
					  <li><a href="#invite" data-toggle="tab"><i class="icon-share"></i> 
					  	&{'web.dashboard.invite.title'}</a></li>
					  	*}*
					  <li><a href="#profile" data-toggle="tab"><i class="icon-user"></i>
					  	&{'web.dashboard.profile.title'}</a>
					  </li>
					</ul>
					<div id="my-tab-content" class="tab-content">
			            <div class="tab-pane active" id="mybookings">
			            	#{include 'Users/dashboard/myBookingsTab.html'/}
			            </div> <!--  mybookings end -->
			            *{* Not in use 
			              <div class="tab-pane" id="mycredits">
			              	#{include 'Users/dashboard/myCreditsTab.html'/}
			            </div>
			            <div class="tab-pane" id="mycoupons">
			            	#{include 'Users/dashboard/myCouponsTab.html'/}
			            </div>
			             <div class="tab-pane" id="invite">
			             	#{include 'Users/dashboard/inviteTab.html'/}
			            </div>
			            	*}*
			            <div class="tab-pane" id="profile">
			            	#{include 'Users/dashboard/profileTab.html'/}
						</div>
			        </div>
			        </div>
				</div> <!-- deal-detail end -->
	        </div>
