#{extends 'main.html' /}
#{set title:'ReallyLateBooking' /}

	<section id="login" class="current">
		<img src=@{'/public/images/layout/bg_image.jpg'} class="welcome_bg_img"/>
		<h1>ReallyLateBooking</h1>

		<div class="loginPanel">
			<div class="loginForm">
				 #{form @saveNewPassword(user.id)}
				        #{field 'password'}
				        <label>Escribe tu nuevo password:</label>
				        <input type="password" name="${field.name}" class="${field.errorClass}" />
				        #{/field}
				    	<input id="loginAccess" type="submit" value="Save" />
				#{/form}
			</div>
			
			
		</div>
	</section>


