#{extends 'CRUD/layout.html' /}

<div id="crudList" class="${type.name}">
	
	<h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

	<div id="crudListTable">
		#{crud.table fields:['id','code', 'userName', 'company', 'subTotal', 'total','created'] }
			
			#{crud.custom 'company'}
		  	  ${models.Company.findById(object.company.id) }
		   #{/crud.custom}
		   
			#{crud.custom 'created'}
				<a href="@{admin.Invoices.showInvoice(object.id)}">
		  	 		${object.created?.format('dd MMMM yyyy - hh:mm')}
		  	 	</a>
		   #{/crud.custom}
	
   		#{/crud.table}
	</div>
	
	<div id="crudListPagination">
		#{crud.pagination /}
	</div>
	
	<p id="crudListAdd">
		<a href="@{blank()}">&{'crud.add', type.modelName}</a>
	</p>
	
	<p class="crudListExport"  id="exportAll">
		<a href="@{admin.Invoices.exportAll}">Export all Invoices as CSV </a>
	</p>
	
</div>
