#{extends 'main.html' /}
#{set title:'ReallyLateBooking' /}

	<section id="login">
		<!--   <img src=@{'/public/images/layout/bg_image.jpg'} class="welcome_bg_img"/> -->
		<h1>ReallyLateBooking</h1>
		<div class="loginPanel">
			<div class="loginError" style="display: none;">
				<span class="icon"></span><p>Mail o contrase&ntilde;a incorrecta</p>
			</div>
			<div class="loginForm">
				<label>Mail</label>
				<input type="text" id="email" />
				<label>Password</label>
				<input type="password" id="password"/>
				
				<a id="loginAccess" href="#cities" class="bt" ><span>Acceder</span></a>
			</div>
			
			<div class="invitation">
				<p>Si todav&iacute;a no eres usuario, y quieres formar parte de nuestro club......</p>
				<a class="bt" href="http://www.rlbooking.com/"><span>Recibir Invitaci&oacute;n</span></a>
			</div>
		</div>
	</section>
	<section id="cities">
		<div class="toolbar">
			<!-- <a href="#cities" class="button">Cities</a> -->
			<h1>Ciudades</h1>
		</div>
		<ul id="cities_list" class="list">
			
		</ul>
	</section>
	
	<section id="confirmForm" class="">
	<div class="toolbar">
		<h1>Confirmar</h1>
	</div>
	<article>
		<form>
			<input type="text" placeholder="Tipo de tarjeta" class="w100"/>
			<input type="text" placeholder="N&uacute;mero tarjeta" class="w100"/>
			<input type="text" placeholder="Titular" class="w100"/>
			<input type="text" placeholder="Caduca en" class="w100"/>
			<input type="text" placeholder="cvc Code" class="w100"/>
		</form>
		<a class="bt" href="#cities" id="confirmBuy"><span>Comprar</span></a>
		<div class="descr cb">	  
			<span class="icon"></span>	  
			<strong>Notas sobre la reserva</strong>	  
			<div class="content">
				RellyLateBookig no har‡ ningœn cargo......
			</div>
		</div>
	</article>
	</section>
	
	<div id="endOfPage"></div> <!-- I need it to add items details -->
	
<script>
			$(document).ready(function(){	
				
				var cities_url = '@{Cities.cityList}';
				loadCitiesList(cities_url);
				
				var window_height = window.innerHeight;
				showWelcomeScreen(window_height);
				
				$('body').css('height', (window_height-65)+'px');
				
				insertFooter('list');
				
				$("body > section").first().addClass("current");
				
				$('#loginAccess').live('tap click', function(e) {
					e.preventDefault();
					e.stopPropagation();
					var login_url = '@@{Users.login()}';
					var curTaget = $(e.currentTarget);
					var link = $(this);
					var pass = $.md5($('#password').val());
					var email = $('#email').val();
					doLogin(login_url, email, pass, curTaget, link);
				});
				
				$("a.back").live('tap click', function(e) {
					var current = $(e.currentTarget).attr("href");
					$(".current").removeClass("current").addClass("reverse");
					$(current).addClass("current");
				});
				
				$("#cities_list li").live('tap click', function(e){
					e.preventDefault();
					e.stopPropagation();
					
					var curTaget = $(e.currentTarget);
					var section = curTaget.closest('section');
					var link = curTaget.find("a.moreInfo");
					var prev_element = "#"+(section.removeClass("current").addClass("reverse").attr("id"));
					var t = $(link.attr("href"));
					var t_url = link.attr("rel");
					
					var deals_url = '@{Deals.iPhoneList}';
					loadItemsList(deals_url, t_url);
					setBackButton(prev_element, t);
				});
				
				
				// go to item detail when clicking on a item list element
				$(".items_list li").live('tap click', function(e){
					e.preventDefault();
					e.stopPropagation();
					
					var curTaget = $(e.currentTarget);
					var section = curTaget.closest('section');
					var link = curTaget.find("a.moreInfo");
					var prev_element = "#"+(section.removeClass("current").addClass("reverse").attr("id"));
					var t = $(link.attr("href"));
					var t_id = link.attr("rel");
					
					loadItemDetail(t_id);
					
					setBackButton(prev_element, t);
				});
				
				// go to booking form 
				$("#buy_button").live('tap click', function(e){
					e.preventDefault();
					e.stopPropagation();
					
					var curTaget = $(e.currentTarget);
					var section = curTaget.closest('section');
					var link = $('#buy_button');
					var prev_element = "#"+(section.removeClass("current").addClass("reverse").attr("id"));
					var t = $(link.attr("href"));
					//var t_id = link.attr("rel");
					
					$('#confirmForm').addClass("current");
					
					setBackButton(prev_element, t);
				});
				
			});
		</script>