#{extends 'admin/layout.html' /}

<div id="crudShow" class="control_panel">

        <h2 id="crudShowTitle">Control Panel</h2>
        <div>
        <label style="width: 12.5%;">Start Date</label>  
        <label>End Date</label>   
        </div>
        <br/> 
		<div>
        #{form @updateStatistics()}
			#{select 'dayStart', items:1..31, value:data.dayStart,  id:'daySelect' /}
			#{select 'monthStart', items:1..12, value:data.monthStart,  id:'monthSelect' /}
			#{select 'yearStart', items:2011..2012, value:data.yearStart,  id:'yearSelect' /}
			
			#{select 'dayEnd', items:1..31, value:data.dayEnd,  id:'daySelect' /}
			#{select 'monthEnd', items:1..12, value:data.monthEnd,  id:'monthSelect' /}
			#{select 'yearEnd', items:2011..2012, value:data.yearEnd,  id:'yearSelect' /}
			<input type="submit" value="Refresh" />
		#{/form}
		</div>
		<div>
		#{form @exportStatistics()}
			#{select 'dayStart', items:1..31, value:data.dayStart,  id:'daySelect' /}
			#{select 'monthStart', items:1..12, value:data.monthStart,  id:'monthSelect' /}
			#{select 'yearStart', items:2011..2012, value:data.yearStart,  id:'yearSelect' /}
			#{select 'dayEnd', items:1..31, value:data.dayEnd,  id:'daySelect' /}
			#{select 'monthEnd', items:1..12, value:data.monthEnd,  id:'monthSelect' /}
			#{select 'yearEnd', items:2011..2012, value:data.yearEnd,  id:'yearSelect' /}
			<input type="submit" value="Export to CSV" />
		#{/form}
		</div>
		
		<div>
		 #{form @exportStatisticsByDays()}
			#{select 'dayStart', items:1..31, value:data.dayStart,  id:'daySelect' /}
			#{select 'monthStart', items:1..12, value:data.monthStart,  id:'monthSelect' /}
			#{select 'yearStart', items:2011..2012, value:data.yearStart,  id:'yearSelect' /}
			
			#{select 'dayEnd', items:1..31, value:data.dayEnd,  id:'daySelect' /}
			#{select 'monthEnd', items:1..12, value:data.monthEnd,  id:'monthSelect' /}
			#{select 'yearEnd', items:2011..2012, value:data.yearEnd,  id:'yearSelect' /}
			<input type="submit" value="Export by day to CSV" />
		#{/form}
		</div>
		 <br/> 
		<div><label>USERS REGISTERED: ${data.registered}</label></div>
		 <br/> 
        <div class="objectForm">
        <div id="crudListTable">
			<table>
				<thead>
					<tr>
						<th>
							City
						</th>
						<th>
							Bookings
						</th>
						<th>
							Bookings Monday
						</th>
						<th>
							Bookings Tuesday
						</th>
						<th>
							Bookings Wednesday
						</th>
						<th>
							Bookings Thursday
						</th>
						<th>
							Bookings Friday
						</th>
						<th>
							Bookings Saturday
						</th>
						<th>
							Bookings Sunday
						</th>
						<th>
							Bookings App
						</th>
						<th>
							Bookings Web
						</th>
						<th>
							Bookers
						</th>
						<th>
							Comission
						</th>
						<th>
							Sales
						</th>
						<th>
							Nights per booking
						</th>
						<th>
							Avg Price
						</th>
						<th>
							Avg Comission
						</th>
						<th>
							Bookings per user
						</th>
					</tr>
				</thead>
				<tbody>
				%{ data.stats.eachWithIndex() { 
					key, value , index -> }%
						 <tr class="${index % 2 ? 'even' : 'odd'}" >
							<td>
								${key}
							</td>
							<td>
								<label>${data.stats[key].bookings}</label> 
							</td>
							<td>
								<label>${data.stats[key].bookingsMonday}</label> 
							</td>
							<td>
								<label>${data.stats[key].bookingsTuesday}</label> 
							</td>
							<td>
								<label>${data.stats[key].bookingsWednesday}</label> 
							</td>
							<td>
								<label>${data.stats[key].bookingsThursday}</label> 
							</td>
							<td>
								<label>${data.stats[key].bookingsFriday}</label> 
							</td>
							<td>
								<label>${data.stats[key].bookingsSaturday}</label> 
							</td>
							<td>
								<label>${data.stats[key].bookingsSunday}</label> 
							</td>
							<td>
								<label>${data.stats[key].bookingsApps}</label> 
							</td>
							<td>
								<label>${data.stats[key].bookingsWeb}</label> 
							</td>
							<td>
								<label>${data.stats[key].totalusers}</label> 
							</td>
							<td>
								<label>${data.stats[key].totalCommission?.formatCurrency('EUR').raw()}</label> 
							</td>
							<td>
								<label>${data.stats[key].totalPrice?.formatCurrency('EUR').raw()}</label> 
							</td>
							<td>
								<label>${data.stats[key].nightsPerBookingAvg}</label> 
							</td>
							
							<td>
								<label>${data.stats[key].priceAvg?.formatCurrency('EUR').raw()}</label> 
							</td>
							<td>
								<label>${data.stats[key].commisionAvg?.formatCurrency('EUR').raw()}</label> 
							</td>
							<td>
								<label>${data.stats[key].bookingPerUserAvg}</label> 
							</td>

						</tr>
				%{ } }%
							<tr style="background-color: grey;">
							<td>
								TOTAL
							</td>
							<td>
								<label>${data.allCities.bookings}</label> 
							</td>
							<td>
								<label>${data.allCities.bookingsMonday}</label> 
							</td>
							<td>
								<label>${data.allCities.bookingsTuesday}</label> 
							</td>
							<td>
								<label>${data.allCities.bookingsWednesday}</label> 
							</td>
							<td>
								<label>${data.allCities.bookingsThursday}</label> 
							</td>
							<td>
								<label>${data.allCities.bookingsFriday}</label> 
							</td>
							<td>
								<label>${data.allCities.bookingsSaturday}</label> 
							</td>
							<td>
								<label>${data.allCities.bookingsSunday}</label> 
							</td>
							<td>
								<label>${data.allCities.bookingsApps}</label> 
							</td>
							<td>
								<label>${data.allCities.bookingsWeb}</label> 
							</td>
							<td>
								<label>${data.allCities.totalusers}</label> 
							</td>
							<td>
								<label>${data.allCities.totalCommission?.formatCurrency('EUR').raw()}</label> 
							</td>
							<td>
								<label>${data.allCities.totalPrice?.formatCurrency('EUR').raw()}</label> 
							</td>
							<td>
								<label>${data.allCities.nightsPerBookingAvg}</label> 
							</td>
							
							<td>
								<label>${data.allCities.priceAvg?.formatCurrency('EUR').raw()}</label> 
							</td>
							<td>
								<label>${data.allCities.commisionAvg?.formatCurrency('EUR').raw()}</label> 
							</td>
							<td>
								<label>${data.allCities.bookingPerUserAvg}</label> 
							</td>

						</tr>
	</tbody>
	
	</table>
	</div>
</div>
		
		
		<div id="chart_div"></div>
</div>


<script type="text/javascript"> 
    google.load("visualization", "1", { 
        packages : [ "corechart" ] 
    }); 
    google.setOnLoadCallback(drawChart); 
    function drawChart() { 
        var jsonData = $.ajax({ 
            url : "@{admin.Statistics.stats()}", 
            dataType : "json", 
            async : false 
        }).responseText; 
        var data = new google.visualization.DataTable(jsonData); 
        var chart = new 
	google.visualization.LineChart(document.getElementById('chart_div')); 
        chart.draw(data, { 
            width : 960, 
            height : 400, 
            title : 'My chart' 
        }); 
    } 
</script> 
