#{extends 'admin/layout.html' /}

<div id="crudShow" class="control_panel">

        <h2 id="crudShowTitle">Control Panel</h2>
        <div>
        <label style="width: 12.5%;">Start Date</label>  
        <label>End Date</label>   
        </div>
        <br/> 
		<div>
        #{form @updateStatistics()}
			#{select 'dayStart', items:1..31, value:data.dayStart,  id:'daySelect' /}
			#{select 'monthStart', items:1..12, value:data.monthStart,  id:'monthSelect' /}
			#{select 'yearStart', items:2011..2012, value:data.yearStart,  id:'yearSelect' /}
			
			#{select 'dayEnd', items:1..31, value:data.dayEnd,  id:'daySelect' /}
			#{select 'monthEnd', items:1..12, value:data.monthEnd,  id:'monthSelect' /}
			#{select 'yearEnd', items:2011..2012, value:data.yearEnd,  id:'yearSelect' /}
			<input type="hidden" name="notIncludePending" value="${notIncludePending}">
			<input type="submit" value="Refresh" />
		#{/form}
		</div>
		<div>
		#{form @exportStatistics()}
			#{select 'dayStart', items:1..31, value:data.dayStart,  id:'daySelect' /}
			#{select 'monthStart', items:1..12, value:data.monthStart,  id:'monthSelect' /}
			#{select 'yearStart', items:2011..2012, value:data.yearStart,  id:'yearSelect' /}
			#{select 'dayEnd', items:1..31, value:data.dayEnd,  id:'daySelect' /}
			#{select 'monthEnd', items:1..12, value:data.monthEnd,  id:'monthSelect' /}
			#{select 'yearEnd', items:2011..2012, value:data.yearEnd,  id:'yearSelect' /}
			<input type="submit" value="Export to CSV" />
		#{/form}
		</div>
		
		<div>
		 #{form @exportStatisticsByDays()}
			#{select 'dayStart', items:1..31, value:data.dayStart,  id:'daySelect' /}
			#{select 'monthStart', items:1..12, value:data.monthStart,  id:'monthSelect' /}
			#{select 'yearStart', items:2011..2012, value:data.yearStart,  id:'yearSelect' /}
			
			#{select 'dayEnd', items:1..31, value:data.dayEnd,  id:'daySelect' /}
			#{select 'monthEnd', items:1..12, value:data.monthEnd,  id:'monthSelect' /}
			#{select 'yearEnd', items:2011..2012, value:data.yearEnd,  id:'yearSelect' /}
			<input type="submit" value="Export by day to CSV" />
		#{/form}
		</div>
		 <br/> 
        <div class="objectForm">
        <div id="crudListTable">
			<table>
				<thead>
					<tr style="font-size: 12px;">
						<th>
							City
						</th>
						<th>
							Users
							Reg.
						</th>
						<th>
							Bookings
						</th>
						<th>
							Bookings per day
						</th>
						<th>
							Sales
						</th>
						<th>
							Comission (-credits)
						</th>
						<th>
							Credits
						</th>
						<th>
							Users Reg. App
						</th>
						<th>
							Bookings App
						</th>
						<th>
							Users Reg. Web
						</th>
						<th>
							Bookings Web
						</th>
						<th>
							Bookings using credits
						</th>
						<th>
							Bookings MGM
						</th>
						<th>
							Users Booking
						</th>
						<th>
							Users First Booking
						</th>
						<th>
							Users Repeat Booking
						</th>
						<th>
							Nights per booking
						</th>
						<th>
							Avg Price
						</th>
						<th>
							Avg Comission
						</th>
						<th>
							Avg Credits
						</th>
						<th>
							Bookings per user
						</th>
					</tr>
				</thead>
				<tbody>
					<tr style="background-color: grey;">
							<td>
								TOTAL
							</td>
							<td>
								<label>${data.registered}</label> 
							</td>
							<td>
								<label>${data.allCities.bookings}</label> 
							</td>
							<td>
								<label>${data.allCities.bookingsPerDay.round(2)}</label> 
							</td>
							<td>
								<label>${data.allCities.totalPrice?.formatCurrency('EUR').raw()}</label> 
							</td>
							<td>
								<label>${data.allCities.totalCommission?.formatCurrency('EUR').raw()}</label> 
							</td>
							<td>
								<label>${data.allCities.totalCredits?.formatCurrency('EUR').raw()}</label>
							</td>
							<td>
								<label>${data.registeredApp}</label> 
							</td>
							<td>
								<label>${data.allCities.bookingsApps}</label> 
							</td>
							<td>
								<label>${data.registeredWeb}</label> 
							</td>
							<td>
								<label>${data.allCities.bookingsWeb}</label> 
							</td>
							<td>
								<label>${data.allCities.bookingsWithCredits}</label> 
							</td>
							<td>
								<label>${data.allCities.bookingsMGM}</label> 
							</td>
							<td>
								<label>${data.allCities.totalusers}</label> 
							</td>
							<td>
								<label>${data.allCities.firstBookingUsers}</label> 
							</td>
							<td>
								<label>${data.allCities.repeatingUsers}</label> 
							</td>
							<td>
								<label>${data.allCities.nightsPerBookingAvg?.round(2)}</label> 
							</td>
							
							<td>
								<label>${data.allCities.priceAvg?.formatCurrency('EUR').raw()}</label> 
							</td>
							<td>
								<label>${data.allCities.commisionAvg?.formatCurrency('EUR').raw()}</label> 
							</td>
							<td>
								<label>${data.allCities.creditsAvg?.formatCurrency('EUR').raw()}</label>
							</td>
							<td>
								<label>${data.allCities.bookingPerUserAvg?.round(2)}</label> 
							</td>

						</tr>
				%{ data.stats.eachWithIndex() { 
					key, value , index -> }%
						 <tr class="${index % 2 ? 'even' : 'odd'}" >
							<td>
								${key}
							</td>
							<td>
								
							</td>
							<td>
								<label>${data.stats[key].bookings}</label> 
							</td>
							<td>
								<label>${data.stats[key].bookingsPerDay?.round(2)}</label> 
							</td>
							<td>
								<label>${data.stats[key].totalPrice?.formatCurrency('EUR').raw()}</label> 
							</td>
							<td>
								<label>${data.stats[key].totalCommission?.formatCurrency('EUR').raw()}</label> 
							</td>
							<td>
								<label>${data.stats[key].totalCredits?.formatCurrency('EUR').raw()}</label> 
							</td>
							<td>
								
							</td>
							<td>
								<label>${data.stats[key].bookingsApps}</label> 
							</td>
							<td>
								
							</td>
							<td>
								<label>${data.stats[key].bookingsWeb}</label> 
							</td>
							
							<td>
								<label>${data.stats[key].bookingsWithCredits}</label> 
							</td>
							<td>
							</td>
							<td>
								<label>${data.stats[key].totalusers}</label> 
							</td>
							<td>
							</td>
							<td>
							</td>
							<td>
								<label>${data.stats[key].nightsPerBookingAvg?.round(2)}</label> 
							</td>
							
							<td>
								<label>${data.stats[key].priceAvg?.formatCurrency('EUR').raw()}</label> 
							</td>
							<td>
								<label>${data.stats[key].commisionAvg?.formatCurrency('EUR').raw()}</label> 
							</td>
							<td>
								<label>${data.stats[key].creditsAvg?.formatCurrency('EUR').raw()}</label> 
							</td>
							<td>
								<label>${data.stats[key].bookingPerUserAvg?.round(2)}</label> 
							</td>

						</tr>
				%{ } }%
	</tbody>
	
	</table>
	</div>
</div>
		
		
		<div id="chart_div"></div>
</div>


<script type="text/javascript"> 
    google.load("visualization", "1", { 
        packages : [ "corechart" ] 
    }); 
    google.setOnLoadCallback(drawChart); 
    function drawChart() { 
        var jsonData = $.ajax({ 
            url : "@{admin.Statistics.stats()}", 
            dataType : "json", 
            async : false 
        }).responseText; 
        var data = new google.visualization.DataTable(jsonData); 
        var chart = new 
	google.visualization.LineChart(document.getElementById('chart_div')); 
        chart.draw(data, { 
            width : 960, 
            height : 400, 
            title : 'My chart' 
        }); 
    } 
</script> 
