<h2>3. &{'web.bookingForm.3.title'}</h2>
				            		<div id="step3">
				            				<div class="alert alert-warning">
										        <p><strong>${user?.firstName}</strong>, &{'web.bookingForm.3.hint'}</p>
										    </div>
										   
										    <div class="padding-centered">
				            			   <fieldset>
				            			   	<div class="row-fluid">
				            			   		<div class="span4">
										          <div class="control-group #{ifError 'booking.bookingForFirstName'} error #{/ifError}">
							  							<div class="controls">
												            <label for="firstName">&{'web.bookingForm.3.name'}</label>
												            <div class="input-prepend">
												            	<span class="add-on"><i class="icon-user"></i></span>
												                <input class="span8" id="firstName" name="booking.bookingForFirstName" 
												                	  type="text" value="${user?.firstName}">
												            </div>
											            </div>
										          </div>
										         </div>
										         <div class="span4">
											          <div class="control-group #{ifError 'booking.bookingForLastName'} error #{/ifError}">
											          	<div class="controls">
												            <label for="lastName">&{'web.bookingForm.3.surname'}</label>
												            <div class="input-prepend">
												            	<span class="add-on"><i class="icon-user"></i></span>
												                <input class="span8" id="lastName" name="booking.bookingForLastName" 
												                	  type="text" value="${user?.lastName}">
												            </div>
												         </div>
											          </div>
									          </div>
									         <div class="span4">
										          <div class="control-group #{ifError 'booking.bookingForEmail'} error #{/ifError}">
										          	<div class="controls">
											            <label for="bookingForEmail">&{'web.bookingForm.3.email'}</label>
											            <div class="input">
											              <div class="input-prepend">
											                <span class="add-on"><i class="icon-envelope"></i></span>
											                <input class="span8" id="bookingForEmail" name="booking.bookingForEmail" 
											                	  type="text" value="${user?.email}">
											              </div>
											            </div>
											         </div>
										          </div><!-- /clearfix -->
										       </div>
									          </div>
									        </fieldset>
									         </div>
						   			 </div>