#{extends 'main.html' /}
#{set title: 'Ofertas' /}

<section id="list">
		<div class="toolbar">
			<!-- <a href="/" class="button">Cities</a> -->
			<h1>${city}</h1>
		</div>
				
		<ul id="items_list" class="list">
		</ul>
		<div class="footer">
			<ul>
				<li class="cities">
					<a href="#">
						<span></span>Ciudades
					</a>
				</li>
				<li class="myItems">
					<a href="#">
						<span></span>Reservas
					</a>
				</li>
				<li class="myData">
					<a href="#">
						<span></span>Mis Datos
					</a>
				</li>
			</ul>
		</div>
</section>
	<div id="endOfPage"></div> <!-- I need it to add items details -->
	
		<script>
			$(document).ready(function(){	
				loadItemsList('@{Deals.iPhoneList()}','${city}');
				
				$("body > section").first().addClass("current");
	
				$("a.back").live('tap click', function(e) {
					var current = $(e.currentTarget).attr("href");
					$(".current").removeClass("current").addClass("reverse");
					$(current).addClass("current");
				});
	
				// go to item detail when clicking on a item list element
				$("#items_list li").live('tap click', function(e){
					e.preventDefault();
					e.stopPropagation();
					
					var curTaget = $(e.currentTarget);
					var section = curTaget.closest('section');
					var link = curTaget.find("a.moreInfo");
					var prev_element = "#"+(section.removeClass("current").addClass("reverse").attr("id"));
					var t = $(link.attr("href"));
					var t_id = link.attr("rel");
					
					
					loadItemDetail(t_id);
					
					setBackButton(prev_element, t);
				});
			});
		</script>