#{extends 'layout.html' /}
#{set title: city.name /}
#{set background: 'http://a0.ak.lscdn.net/imgs/61ac5113-826c-415e-bbd4-fbc797d74181/original_q60.jpg'/}

<div class="container">
    
    <div class="content">
        #{list items:dealsDtos, as:'deal' }
        	#{if deal_isFirst }
		            <div class="row">
			        	<div class="span12 title-black">
				           <h1>Estas son las ofertas para hoy</h1>
				        </div>
			        </div>
			#{/if}
	        <div class="row deal-list">
	        	<div class="span12 deal" >
		            <div class="row" >
		            	<div class="span6 hotelImage">
		            		<img alt="${deal.hotelName}" src="${deal.image10}">
		            	</div>
			        	<div class="span6 deal-info">	
			        		<div class="title">
			        			<h2>${deal.hotelName}</h2>
			        			<p class="address">${deal.address}</p>
			        		</div>
				           
				           <div class="main-info">
				           		<div class="row price-more">
				           			<div class="span3 price">
				           				${deal.salePriceCents}<span>&euro;</span>
				           			</div>
				           			<div class="span3 more-info">
				           				#{if deal.quantity > 0 }
						           			<a class="btn large primary" href="@{Deals.show(city.url,deal.id)}">Ver Oferta</a>
						           		#{/if}
				           				#{else}
				           					<a class="btn large primary disabled" href="@{Deals.show(city.url,deal.id)}">Agotado</a>
				           				#{/else}
				           				
				           			</div>
				           		</div>
				           		<div class="row deal-info">
				           			<div class="span2 before">
				           				<div class="row">
				           					<div class="span2"">
				           						 ${deal.priceCents}<span>&euro;</span> 
				           					</div>
				           				</div>	
				           				<div class="row">
				           					<div class="span2"">
				           						 <span>antes</span> 
				           					</div>
				           				</div>	 
				           			</div>
				           			<div class="span2 nights">
				           				<div class="row">
				           					<div class="span2"">
				           						${deal.nights} 
				           					</div>
				           				</div>	
				           				<div class="row">
				           					<div class="span2"">
				           						 <span>noches</span> 
				           					</div>
				           				</div>	 
				           			</div>
				           			<div class="span2 rooms">
				           				<div class="row">
				           					<div class="span2"">
				           						${deal.quantity} 
				           					</div>
				           				</div>	
				           				<div class="row">
				           					<div class="span2"">
				           						<span>quedan</span>
				           					</div>
				           				</div>
				           			</div>
				           		</div>
				           		
				           		<div class="row social">
				           			<div class="span3">
				           			</div>
				           		</div>
				           </div>
				        </div>
			        </div>
				</div>
	        </div>
        #{/list}
    </div>
	
</div>