#{extends 'layout.html' /}
#{set title: city.name /}


#{set 'moreScripts'}
	<script src="@{'/public/js/jquery.countdown.min.js'}" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(function() {
			$('#zonesNav').scrollspy();
			// fix sub nav on scroll
		    var $win = $(window)
		      , $nav = $('#zonesNav')
		      , navTop = $('#zonesNav').length && $('#zonesNav').offset().top - 50
		      , isFixed = 0

		    processScroll()

		    $win.on('scroll', processScroll)

		    function processScroll() {
		      var i, scrollTop = $win.scrollTop()
		      if (scrollTop >= navTop && !isFixed) {
		        isFixed = 1
		        $nav.addClass('zonesNav-fixed')
		      } else if (scrollTop <= navTop && isFixed) {
		        isFixed = 0
		        $nav.removeClass('zonesNav-fixed')
		      }
		    }
			
		    $('#counter').countdown({
		          image: '@{'/public/img/digits.png'}',
		          startTime: '${countdown?.format('HH:mm:ss')}'
		    });
		});
	</script>

#{/set}
		<div class="row-fluid">
				<ul class="breadcrumb">
				  <li>
				    <a href="@{Cities.index()}">&{'web.cities'}</a> <span class="divider">/</span>
				  </li>
				  <li class="active">
				    <a href="#">${city.name}</a>
				  </li>
				</ul>
		</div>
		<div id="zonesNav" class="row-fluid">
			        <div class="span12 title-black">
			        		<div class="row-fluid">
				           			<div class="span8">
			                			<h1>&{'web.deal.list.h1', city.name}</h1>
			                		 </div>
			                		 #{if city.isRootCity() && open}
				           			<div class="span4 navbar" >
				           				<div class="zones">
						                <ul class="nav">
						                	<li class="dropdown" id="zones-dropdown">
								              <a href="#zones-dropdown" class="dropdown-toggle" data-toggle="dropdown">&{'web.deal.list.zones'}<b class="caret"></b></a>
								              <ul class="dropdown-menu" >
								                #{list items:dealsDtos, as:'deal' }
								                		#{if deal_isFirst }
											        		%{
														   		actualCity = deal.city;
															}%
															<li><a href="#${actualCity.url}">${actualCity.name}</a></li>
														#{/if}
														#{elseif actualCity.url != deal.city.url }
															 %{
														   		actualCity = deal.city;
															}%
															<li><a href="#${actualCity.url}">${actualCity.name}</a></li>
														#{/elseif}
													#{/list}
								              </ul>
								            </li>
						                </ul>
						                </div>
								   </div>
								    #{/if}
					        </div>             
				        </div>
		</div>
	#{if open}	    
		 #{list items:dealsDtos, as:'deal' }
        	#{if deal_isFirst }
        		%{
			   		zone = deal.city.url;
				}%
		<div class="deal-list first-deal row-fluid">
				 <div class="span12">
				 	<div class="row-fluid">
			        	<div class="span12"> 
					     	<h2 class="span12">${deal.city.name}</h2>
					     	<div id="${deal.city.url}"></div>	
						</div>
					</div>    	
			#{/if}
			#{elseif zone != deal.city.url }
				  </div>
			</div>	
				 %{
			   		zone = deal.city.url;
				}%
		<div class="deal-list row-fluid">
		    <div class="span12">
				 	<div class="row-fluid">
			        	<div class="span12"> 
							<h2 class="span12">${deal.city.name}</h2>
							<div id="${deal.city.url}"></div>	
						</div>
					</div>
			#{/elseif}
			  <div class="row-fluid">
	        	<div class="span12">
	        		<div class="deal">
			        	<div class="hotelInfo">
			        		<div class="row-fluid">
			        			<div class="hotelImage span4"> 
			        				<img alt="${deal.hotelName}" src="${deal.image10}">
			        			</div>
				        		<div class="span8">
				        			<div class="row-fluid">
					        			<div class="title span12">
					        				<h2>${deal.hotelName}<br><small>${deal.address}</small></h2> 
					        			</div>
					        		</div>
					        		<div class="row-fluid">
				        				<div class="main-info span12">
							           		<div class="row-fluid">
							           			<div class="span7 price">
							           				<span>&{'web.deal.tonight'}</span> ${deal.salePriceCents}&euro;
							           			</div>
							           			<div class="span4 more-info">
							           				#{if deal.quantity > 0 }
									           			<a class="btn btn-primary btn-large" href="@{Deals.show(city.url,deal.id)} #{if fromEmail}?email#{/if}">&{'web.deal.list.show'}</a>
									           		#{/if}
							           				#{else}
							           					<a class="btn btn-danger btn-large disabled" href="@{Deals.show(city.url,deal.id)} #{if fromEmail}?email#{/if}">&{'web.deal.list.soldedout'}</a>
							           				#{/else}
							           				
							           			</div>
							           		</div>
							           		<div class="row-fluid deal-info">
							           				<div class="span1"><label></label></div>
							           				<div class="before span3">
							           						 &{'web.deal.detail.before'} <br>
							           						 <strong>${deal.priceCents}</strong><span>&euro;</span> 
							           				</div>	 
							           				<div class="nights span3">
							           						 &{'web.deal.detail.book'} <br>
							           						 <strong>${deal.nights}</strong> <span>&{'web.deal.detail.nights'}</span> 
							           				</div>	 
							           				<div class="rooms span3">
							           						&{'web.deal.detail.left'} 
							           							<strong>
							           								#{if deal.quantity > 5 || deal.isHotUsa}
							           									+5
							           								#{/if}
							           								#{else}
							           									${deal.quantity}
							           								#{/else}
							           							</strong>  <br>
							           						&{'web.deal.detail.rooms'}
							           				</div>
							           		</div>
							           </div>
							        </div>
				        		</div>
			        		</div>	
				        </div>
				    </div>
				</div>
			</div>
	        #{if deal_isLast || zone != deal.city.url}
			     </div> <!--  close deal-list -->
			   </div>
			#{/if}
        #{/list}
       #{/if}
       #{else}
       		<div class="deal-list first-deal row-fluid">
			        	<div class="span12"> 
			        		<div class="row-fluid">
					        	<div class="span12"> 
							     	<h2 class="span12">&{'deal.city.closed'}</h2>
							     </div>
							</div>
							<div class="row-fluid">
			        			<div class="span12">
							     	<div class="closed">
							        	<div class="row-fluid">	
							        		<div class="info span12">
							        			<h2>&{'deal.city.closed.title'}</h2> 
							        			<p>&{'deal.city.closed.description'}</p>
							        			<div class="row-fluid">	
							        				<div class="span12">
							        					<div id="counter"></div>
							        				</div>
							        			</div>
							        		</div>
							        	</div>
							        	<div class="row-fluid">	
								           <div class="video span12">
								           			<h2>&{'deal.city.closed.video'}</h2>
								           			<iframe src="http://player.vimeo.com/video/37323730" width="100%" height="50%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>	
								           </div>
								        </div>
									</div>
								 </div>
							</div>
					</div>
			</div>
       #{/else}

