#{extends 'layout.html' /}
#{set title: deal.hotelName /}
#{set merchant: deal.hotelName /}
#{set image: deal.mainImageBig /}
#{set description :  'Reserva con oferta en el hotel' + deal.hotelName /}

#{set 'moreScripts'}
    <script type="text/javascript">
      var map;
      function initialize() {
        var myOptions = {
          zoom: 12,
          center: new google.maps.LatLng(${deal.latitude}, ${deal.longitude}),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
       
        map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);
        var marker = new google.maps.Marker({
          position: map.getCenter(),
          map: map,
          title: 'Click to zoom'
        });

        google.maps.event.addListener(marker, 'click', function() {
          if (map.getZoom() == 16) {
            map.setZoom(12);
          } else {
            map.setZoom(16);
          }
        });
       
      }
      google.maps.event.addDomListener(window, 'load', initialize);
	</script>
	<script type="text/javascript">
		$(function() {
			var options = {position: 10, placement: 'above', html: true};
			$('.image-popover').popover(options);
			$('.twipsy-link').twipsy();
		});
	</script>
#{/set}

<div class="container">
    
    <div class="content">
    		#{ifnot deal.active}
			<div class="alert-message block-message warning">
		        <a class="close" href="#">×</a>
		        <p><strong>¡Has llegado tarde!</strong> La oferta en ${deal.hotelName} no esta activa para esta noche.</p>
		        <div class="alert-actions">
		          <a class="btn small" href="@{Deals.list(deal.city.url)}">Ver las ofertas de hoy</a>
		        </div>
		    </div>
		    #{/ifnot}
       		<div class="row">
	        	<div class="span12 title-black">
		           <h1>Reserva este hotel para esta noche</h1>
		        </div>
	        </div>
	        <div class="row">
	        	<div class="span12 deal" id="deal_detail">
		            <div class="row" >
		            	<div class="span12 hotelImage">
		            		<div class="imageContainer">
		            			<img alt="${deal.hotelName}" src="${deal.mainImageBig}">
		            		</div>
		            		<div class="span12 captions black60">
		            		</div>
		            	</div>
		            </div>
		            <div class="row" >
				        		<div class="title span12">
				        			<h1>${deal.hotelName} <small>${deal.address}</small></h1>
				        		</div>
				    </div>
		            <div class="row" >
			        	<div class="span12 deal-info">	
				           <div class="row main-content" >
					           <div class="span8">
					           		<div class="row">
					           			<div class="span8">
						           			<p>#{verbatim}${deal.hotelText}#{/verbatim}</p>
					           			</div>
					           		</div>
					           		<div class="row">
					           			<div class="span8">
						           			<h2>Las habitaciones</h2>
						           			<p>#{verbatim}${deal.roomText}#{/verbatim}</p>
					           			</div>
					           		</div>
					           		<div class="row">
					           			<div class="span8">
						           			<h2>Comer y beber</h2>
						           			<p>#{verbatim}${deal.foodDrinkText}#{/verbatim}</p>
					           			</div>
					           		</div>
					           		<div class="row">
					           			<div class="span8">
						           			<h2>Los alrededores</h2>
						           			<p>#{verbatim}${deal.aroundText}#{/verbatim}</p>
					           			</div>
					           		</div>
					           </div>
					            <div class="span4">
					            	<div class="buy-column">
						           		<div class="price">
						           				${deal.salePriceCents}<span>&euro;</span>
						           		</div>
						           		<div class="before">
						           				  <span>antes</span> ${deal.priceCents}<span>&euro;</span>
						           		</div>
						           		<div class="buy-now">
						           				#{if deal.active && deal.quantity > 0 }
						           					<a class="btn large primary" href="@{Deals.bookingForm(deal.id)}">Comprar</a>
						           				#{/if}
						           				#{else}
						           					<a class="btn large primary disabled" href="#">Agotado</a>
						           				#{/else}
						           		</div>
					           			<div class="info-list">
					           				<ul class="unstyled">
											  <li class="rooms">
											  	<span>quedan</span>
											    <span class="value">${deal.quantity}</span>
											  </li>
											  <li class="nights">
											    <span class="value">1-5 </span>
											    <span>noches</span>
											  </li>
											</ul>
					           			</div>
						           		<div class="social">
						           				<p><strong>¿Lo quieres gratis?</strong><br>
						           				<a href="#" class="twipsy-link" data-placement="right" rel='twipsy' title='Con cada invitación les regalas 12€ para su primera reserva y tú recibes otros 12€'>
						           					<b>Invita a tus amigos</b>
						           				</a>, y consigue créditos para reservar gratis</p>
						           				<div class="social-buttons addthis_toolbox addthis_default_style addthis_32x32_style">
						           						<a class="addthis_button_facebook"></a>
						           					    <a class="addthis_button_twitter"></a>
    													<a class="addthis_button_email"></a>
												    	<a class="addthis_button_preferred_1"></a>
												</div>
						           		</div>
					           		</div><!-- buy-column end -->
					           	</div>
				           </div> <!-- main-content end -->
				           
				           <div class="row">
								<div class="span12 image-gallery">
									<h2>Fotos</h2>
									<ul class="media-grid">
								    		<li><a href="#" class="image-popover" data-content="<img src='${deal.image1}' alt='Hotel Image' />"><img src="${deal.image1}" alt="Hotel Image" /></a></li>
								    		<li><a href="#" class="image-popover" data-content="<img src='${deal.image2}' alt='Hotel Image' />"><img src="${deal.image2}" alt="Hotel Image" /></a></li>
								    		<li><a href="#" class="image-popover" data-content="<img src='${deal.image3}' alt='Hotel Image' />"><img src="${deal.image3}" alt="Hotel Image" /></a></li>
								    		<li><a href="#" class="image-popover" data-content="<img src='${deal.image4}' alt='Hotel Image' />"><img src="${deal.image4}" alt="Hotel Image" /></a></li>
								    		<li><a href="#" class="image-popover" data-content="<img src='${deal.image5}' alt='Hotel Image' />"><img src="${deal.image5}" alt="Hotel Image" /></a></li>
								    </ul>
								</div>
							</div>
			           		<div class="row">
				           		<div class="span12 location location-wide">
								  <h2>Location</h2>
								  <div id="map_canvas" style="width: 670px; height: 300px"></div>
								  <div class="meta">
								      <span class="street_1">${deal.address}</span>
								      <span class="city">${deal.city.name}</span>
								      <span class="directions">
								      	<a href="http://maps.google.com/maps?q=${deal.latitude}, ${deal.longitude}" target="_blank">como llegar</a>
								      </span>
								  </div>
								</div>
							</div>
							<div class="row">
					           			<div class="span12">
						           			<h2>Los detalles de la oferta</h2>
						           			<p>#{verbatim}${deal.detailText}#{/verbatim}</p>
					           			</div>
					           		</div>
				        </div> <!--  deal-info end -->
			        </div>
				</div> <!-- deal-detail end -->
	        </div>
    </div> <!-- content end -->
	
</div> <!-- container end -->