#{set active:'deals'/}
#{extends 'admin/layoutResponsive.html' /}
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/js/jquery.form.js'}"></script>

<script>
		function dealChanged(response){
			var deal = response;
			$("#deal_"+deal.id).fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
			
			discount = 0;
			if (deal.bestPrice != null && deal.bestPrice > 0){
		    	dif = (deal.bestPrice - deal.salePriceCents) * 100;
		    	discount = dif != 0 ? dif / deal.bestPrice : 0;
		    	discount = Math.ceil(discount * 10) / 10;
		    }
			$("#discount_"+deal.id).html(discount + "%");
		}
</script>	
	
<div>
<div class="pagination pagination-centered">
  <ul>
  	<li><a href="@{admin.Cities.list()}"><strong>All cities</strong></a></li>
  	#{list cities, as:'cityB'} 
		<li class="#{if city.url == cityB.url || city.root == cityB.url}active #{/if}" >
			<a  
			#{if cityB.isRootCity()}
				href="@{admin.Cities.zones(cityB.id)}"
			#{/if}
			#{else}
				href="@{admin.Cities.editCityDeals(cityB.id)}"
			#{/else}">
				 <abbr title="${cityB.name}" class="#{if cityB.isCityReady()} text-success #{/if}">
				 %{
				 name = cityB.name;
				 if ( name != null && name.length() > 5)
    				name = cityB.name[0..5];
				 }%
				 ${name}
				 </abbr>
			</a>
		</li>
    #{/list}
  </ul>
</div>

	<div class="page-header">
		  <h1>${city.name} <small>view and update published deals for tonight</small>
			<a href="@{admin.Cities.autoOrderDeals(city.id)}" class="btn btn-small btn-primary" data-toggle="tooltip" data-original-title="Ordena todos los deals ACTIVOS de mayor a menor precio y de mayor a menor descuento en caso de precios iguales">Auto order deals</a>
 </h1>
	</div>
	<div id="alert-success"></div>
	<div id="alert-error"></div>
	<div class="bs-docs-example">

			<table class="table table-condensed table-hover" id="dealsTable">
				<thead>
					<tr>
						<th >
							Hotel
						</th>
						<th >
							Rooms
						</th>
						<th >
							Public Price
						</th>
						<th >
							BAR <a href="#" class="btn btn-mini"><i class="icon-refresh"></i> </a>
						</th>
						<th >
							Breakfast
						</th>
						<th >
							Discount
						</th>
						<th >
							Day 1
						</th>
						<th >
							Day 2
						</th>
						<th >
							Day 3
						</th>
						<th >
							Day 4
						</th>
						<th >
							Day 5
						</th>
						<th >
							Hotusa
						</th>
						<th >
							Position
						</th>
						<th >
							Limit Hour
						</th>
						<th>
							Trivago
						</th>
					</tr>
				</thead>
				<tbody>
				 #{list deals, as:'deal'} 
					    <tr class="${!deal.image3?.trim() || deal.company == null ? 'error' : ''} #{if !deal.updatedToday()}hide notReady#{/if}"  id="deal_${deal.id}">
					    #{remote.form action:@updateDeal(deal.id) , resultDiv:'alert-success', errorDiv:'alert-error', callback:'dealChanged(response)'}
							<td>
								 <a href="@{admin.Deals.createForm(deal.id)}">
				   					${deal.hotelName}
				   				 </a>
				   				 <br>
								 <span class="label label-info">Active</span>
								  #{field 'active'}
			           				<input type="checkbox" name="${field.name}"
		            					class="${field.errorClass}" #{if deal.active} checked="true" #{/if}/>
						        #{/field}
							</td>
							<td >
								<div class="control-group ${deal.quantity == 0 ? 'error' : 'success'}">
								#{field 'quantity'}
							        <input type="number" name="${field.name}" class="input-mini"
							            value="${deal.quantity}"  required min="0" />
						        #{/field}
						        <br/>
						        	${deal.updated?.format('dd/MM/yy hh:mm')}
						        </div>
							</td>
							<td>
								<div class="control-group ${deal.priceCents <= deal.salePriceCents ? 'error' : 'success'}">
								#{field 'priceCents'}
							        <input type="text" name="${field.name}" class="input-mini"
			           					 value="${deal.priceCents}"  required min="0"/>
						        #{/field}
						        </div>
							</td>
							<td>
								<div class="control-group ${deal.bestPrice <= deal.salePriceCents ? 'error' : 'success'}">
								#{field 'bestPrice'}
							        <input type="text" name="${field.name}" class="input-mini"
			           					 value="${deal.bestPrice}"  />
						        #{/field}
						        #{if deal.uuid != null && deal.uuid != ""}
						        	<a href="@{admin.Deals.refreshBAR(deal.id, city.id)}" class="btn btn-mini"><i class="icon-refresh"></i> </a>
						        #{/if}
						        <br />
						        <a href="http://www.trivago.es/${city.root}-12345/hotel/${city.root}-${deal.trivagoCode}/precios" target="_blank">Compare</a>
						
						        </div>
						                
							</td>
							<td style="text-align:center;">
								#{if deal.breakfastIncluded}
			           				<i class="icon-ok"></i>
			           			#{/if}
	
							</td>
							<td>
			           				<label id="discount_${deal.id}">${deal.discount}%</label>
							</td>
							<td>
								<div class="control-group ${deal.salePriceCents == 0 || !(deal.netSalePriceCents > 0) ? 'error' : ''} ${deal.salePriceCents <= deal.netSalePriceCents ? 'warning' : ''}">
								#{field 'salePriceCents'}
							        <input type="text" name="${field.name}"  
			           					 value="${deal.salePriceCents}" class="input-mini"/>
						        #{/field}
						        
						        <br />
						        #{field 'netSalePriceCents'}
							        <input type="text" name="${field.name}"  
			           					 value="${deal.netSalePriceCents}" class="input-mini" />
						        #{/field}
						        </div>
							</td>
							<td>
								<div class="control-group ${deal.priceDay2 == 0 || !(deal.netPriceDay2 > 0) ? 'error' : ''} ${deal.priceDay2 <= deal.netPriceDay2? 'warning' : ''}">
								
								#{field 'priceDay2'}
							        <input type="text" name="${field.name}" 
			           					 value="${deal.priceDay2}" class="input-mini" />
						        #{/field}
						        <br />
						        #{field 'netPriceDay2'}
							        <input type="text" name="${field.name}"  
			           					 value="${deal.netPriceDay2}" class="input-mini"/>
						        #{/field}
						        </div>
							</td>
							<td>
								<div class="control-group ${deal.priceDay3 == 0 || !(deal.netPriceDay3 > 0) ? 'error' : ''} ${deal.priceDay3 <= deal.netPriceDay3? 'warning' : ''}">
								#{field 'priceDay3'}
							        <input type="text" name="${field.name}"  
			           					 value="${deal.priceDay3}" class="input-mini"/>
						        #{/field}
						        <br />
						        #{field 'netPriceDay3'}
							        <input type="text" name="${field.name}"  
			           					 value="${deal.netPriceDay3}" class="input-mini" />
						        #{/field}
						        </div>
							</td>
							<td>
								<div class="control-group ${deal.priceDay4 == 0 || !(deal.netPriceDay4 > 0) ? 'error' : ''} ${deal.priceDay4 <= deal.netPriceDay4? 'warning' : ''}">
								#{field 'priceDay4'}
							        <input type="text" name="${field.name}"  
			           					 value="${deal.priceDay4}" class="input-mini" />
						        #{/field}
						        <br />
						        #{field 'netPriceDay4'}
							        <input type="text" name="${field.name}"   
			           					 value="${deal.netPriceDay4}" class="input-mini" />
						        #{/field}
						        </div>
							</td>
							<td>
								<div class="control-group ${deal.priceDay5 == 0 || !(deal.netPriceDay5> 0) ? 'error' : ''} ${deal.priceDay5 <= deal.netPriceDay5? 'warning' : ''}">
								#{field 'priceDay5'}
							        <input type="text" name="${field.name}"  
			           					 value="${deal.priceDay5}" class="input-mini" />
						        #{/field}
						        <br />
						        #{field 'netPriceDay5'}
							        <input type="text" name="${field.name}"   
			           					 value="${deal.netPriceDay5}" class="input-mini" />
						        #{/field}
						        </div>
							</td>
							<td>
								#{if deal.isHotUsa}
			           				<i class="icon-ok"></i>
			           			#{/if}
							</td>
							<td>
								#{field 'position'}
							        <input type="number" name="${field.name}" 
			           					 value="${deal.position}" class="input-mini" />
						        #{/field}
							</td>
							
							<td>
								#{field 'limitHour'}
							        <input type="number" name="${field.name}" 
			           					 value="${deal.limitHour}" class="input-mini" />
						        #{/field}
							</td>
							<td>
								#{field 'trivagoCode'}
							        <input type="text" name="${field.name}" 
			           					 value="${deal.trivagoCode}" class="input-mini" placeholder="code"/>
						        #{/field}
						        <br>
						        #{field 'points'}
							        <input type="text" name="${field.name}" 
			           					 value="${deal.points}" class="input-mini" placeholder="points"/>
						        #{/field}
							</td>
							 <input type="hidden" value="${city.id}" name="cityId" />
							#{/remote.form}
					  	</tr>
				#{/list}
	</tbody>
	</table>
	<a href="#" id="showHideAllDeals" class="btn" >Show all deals</a>
	</div>

 	<h2 id="crudShowTitle">Hotels Preview <small>Set the published hotels order with drag&drop</small></h2>	
    #{remote.form action:@updateAll(city.id) , resultDiv:'alert-success', errorDiv:'alert-error'}
	 		<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>
							Position
						</th>
						<th >
							Hotel
						</th>
						<th>
							Sale Price
						</th>
						<th>
							Discount
						</th>
						<th>
							Bookings 30 days
						</th>
						<th>
							Bookings 60 days
						</th>
						<th>
							Valuation
						</th>
						<th>
							Hotusa
						</th>
						<th>
							Room Type
						</th>
					</tr>
				</thead>
				<tbody id="list_${city.url}">
	  #{list models.Deal.findAllActiveDealsByCityId(city.id), as:'deal'}
	  			<tr id="list_${deal.id}" class="${!deal.image3?.trim() || deal.company == null || deal.quantity == 0 ? 'error' : ''}" >
					    	<td class="handle">
					    		<span id="position_label" >${deal.position}</span>
								<input class="position" type="hidden" name="dealIds" value="${deal.id}" size="3" />
							</td>
							<td class="handle">
								 <a href="@{admin.Deals.show(deal.id)}">
				   					${deal.hotelName}
				   				 </a>
							</td>
							<td class="handle">
								${deal.salePriceCents}&euro;
							</td>
							<td class="handle">
								${deal.discount}%
							</td>
							<td class="handle">
								%{bookings = models.Booking.findLastBookingsByDeal(deal, 30)}%
								${bookings}
							</td>
							<td class="handle">
								%{bookings = models.Booking.findLastBookingsByDeal(deal, 60)}%
								${bookings}
							</td>
							<td class="handle">
								${deal.points}
							</td>
							<td class="handle">
								#{if deal.isHotUsa}
			           				<i class="icon-ok"></i>
			           			#{/if}
							</td>
							<td class="handle">
								${deal.roomType}
							</td>
				</tr>
	  	#{/list}
	  			</tbody>
	  			</table>
		#{/remote.form}
</div>

<script>
		function startSortable(id){
			$('#'+id).sortable({ 
	   		    handle : '.handle', 
	   		    update : function () { 
	   		    	$('#'+id).children('tr').each(function(idx, elm) {
	   		    		var input = $('#'+elm.id).find("#position_label").first();
	   		    		input.text(idx);
	   		    		$('#'+id).trigger('submit');
	   		    		input.fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
	   		    	});  
	   			}
			});
		}
		
	   	$(function() {
	   		startSortable("list_${city.url}");
	   		$('input').change(function(){
	   			var form = $(this).get(0).form;
	   			$(form).trigger('submit');
	   		});
	   		
	   		var showAll = false;
	   		$('#showHideAllDeals').click(function(){
	   			if (showAll){
	   				$('#dealsTable tbody').children('tr.notReady').addClass('hide');
	   				$('#showHideAllDeals').text('Show all deals');
	   			}
	   			else{
	   				$('#dealsTable tbody').children('tr.notReady').removeClass('hide');
	   				$('#showHideAllDeals').text('Hide not ready for today deals');
	   			}
	   			showAll = !showAll;
	   		});
	   	});
	   	
	</script>