#{extends 'CRUD/layout.html' /}
<style>
	#info {
		display: block;
		padding: 10px;
		margin-bottom: 20px;
		border: 1px solid 
		#333;
		background-color: 
		#EFEFEF;
	}
</style>
<div id="crudShow">

        <h2 id="crudShowTitle">&{'crud.show.title', city.name}</h2>
        
        <div class="objectForm">
        
        <div id="crudListTable">
			<table>
				<thead>
					<tr>
						<th width="7%">
							Hotel
						</th>
						<th width="3%">
							Quantity
						</th>
						<th width="4%">
							Original Price
						</th>
						<th width="4%">
							Best Price
						</th>
						<th width="4%">
							Discount
						</th>
						<th width="5%">
							Sale Price
						</th>
						<th width="5%">
							Price Day 2
						</th>
						<th width="5%">
							Price Day 3
						</th>
						<th width="5%">
							Price Day 4
						</th>
						<th width="5%">
							Price Day 5
						</th>
						<th width="5%">
							Position
						</th>
						<th width="5%">
							Active
						</th>
						<th width="5%">
							Is HotUsa
						</th>
						<th width="5%">
							Is Fake
						</th>
						<th width="5%">
							Breakfast Included
						</th>
						<th width="5%">
							Limit Hour
						</th>
						<th width="8%">
							Updated
						</th>
						<th width="5%">
						</th>
						<th width="5%">
						</th>
						<th width="5%">
						</th>
					</tr>
				</thead>
				<tbody>
				 #{list deals, as:'deal'} 
				 	#{form @updateDeal(deal.id)}
					    <tr class="${deal_index % 2 ? 'even' : 'odd'}"  
					    	#{if (!deal.image3?.trim() || deal.priceCents <= deal.salePriceCents)}
					    	 style="border-color: red;border-style: solid;" 
					    	#{/if}
					    	#{else}
					    		#{if deal.company == null} style="border-color: orange;border-style: solid;" #{/if}
					    	#{/else}	
					    	>
					    	 #{ifErrors}
					        <p class="error">
					            Please correct these errors.
					        </p>
					    	#{/ifErrors}
							<td>
								 <a href="@{admin.Deals.show(deal.id)}">
				   					${deal.hotelName}
				   				 </a>
							</td>
							<td>
								#{field 'quantity'}
							        <input type="text" name="${field.name}" size="2"
							            value="${deal.quantity}" class="${field.errorClass}" />
						        #{/field}
							</td>
							<td>
								#{field 'priceCents'}
							        <input type="text" name="${field.name}" size="3"
			           					 value="${deal.priceCents}" class="${field.errorClass}" />
						        #{/field}
							</td>
							<td>
								#{field 'bestPrice'}
							        <input type="text" name="${field.name}" size="3"
			           					 value="${deal.bestPrice}" class="${field.errorClass}" />
						        #{/field}
							</td>
							<td>
			           				<label>${deal.discount}%</label>
							</td>
							<td>
								#{field 'salePriceCents'}
							        <input type="text" name="${field.name}"  size="5"
			           					 value="${deal.salePriceCents}" class="${field.errorClass}" />
						        #{/field}
							</td>
							<td>
								#{field 'priceDay2'}
							        <input type="text" name="${field.name}"  size="5"
			           					 value="${deal.priceDay2}" class="${field.errorClass}" />
						        #{/field}
							</td>
							<td>
								#{field 'priceDay3'}
							        <input type="text" name="${field.name}"  size="5"
			           					 value="${deal.priceDay3}" class="${field.errorClass}" />
						        #{/field}
							</td>
							<td>
								#{field 'priceDay4'}
							        <input type="text" name="${field.name}"  size="5"
			           					 value="${deal.priceDay4}" class="${field.errorClass}" />
						        #{/field}
							</td>
							<td>
								#{field 'priceDay5'}
							        <input type="text" name="${field.name}"  size="5"
			           					 value="${deal.priceDay5}" class="${field.errorClass}" />
						        #{/field}
							</td>
							
							<td>
								#{field 'position'}
							        <input type="text" name="${field.name}"  size="2"
			           					 value="${deal.position}" class="${field.errorClass}" />
						        #{/field}
							</td>
							<td>
								#{field 'active'}
			           				<input type="checkbox" name="${field.name}"
		            					class="${field.errorClass}" #{if deal.active} checked="true" #{/if}/>
						        #{/field}
							</td>
							<td>
								#{field 'isHotUsa'}
			           				<input type="checkbox" name="${field.name}"
		            					class="${field.errorClass}" #{if deal.isHotUsa} checked="true" #{/if}/>
						        #{/field}
							</td>
							<td>
								#{field 'isFake'}
			           				<input type="checkbox" name="${field.name}"
		            					class="${field.errorClass}" #{if deal.isFake} checked="true" #{/if}/>
						        #{/field}
							</td>
							<td>
			           				<label>${deal.breakfastIncluded}</label>
							</td>
							<td>
								#{field 'limitHour'}
							        <input type="text" name="${field.name}"  size="2"
			           					 value="${deal.limitHour}" class="${field.errorClass}" />
						        #{/field}
							</td>
							<td>
								${deal.updated?.format('dd MMMM yyyy - hh:mm')}
							</td>
							<td>
								<a target="_blank" href="http://es.hotusa.com/interfaz/getGeneralComs.jsp?opc=4&tipus_desti=H&codhot=${deal.hotelCode}&secacc=49046&atrasbut=1&verdispo=1" >HotUsa</a>
							</td>
							<td>
								<a href="http://www.trivago.es/search.php?q=${deal.hotelName}+${city.root}" target="_blank">Trivago</a>
							</td>
							<td>
								<input type="hidden" value="${city.id}" name="cityId" />
								<input type="submit" value="Save" />
							</td>
					  	</tr>
				  	#{/form}
				#{/list}
	</tbody>
	</table>
	</div>
</div>
	<div>

 <p class="crudListExport"  id="exportAll">
	<a href="@{admin.Cities.autoOrderDeals(city.id)}">Auto order Deals</a>
 </p>
 <h2 id="crudShowTitle">Hotels Preview</h2>	
    <div id="info">Ordena los hoteles arrastrando y soltando en la posicion que quieras</div> 
    #{form @updateAll(city.id)}
	 		<table style="width: 800px;">
				<thead>
					<tr>
						<th>
							Ordenar
						</th>
						<th>
							Position
						</th>
						<th >
							Hotel
						</th>
						<th>
							Sale Price
						</th>
						<th>
							Discount
						</th>
						<th>
							Room Type
						</th>
						<th>
							Room Type Text
						</th>
						<th>
							Original Price
						</th>
					</tr>
				</thead>
				<tbody id="test-list">
	  #{list models.Deal.findAllActiveDealsByCityId(city.id), as:'deal'}
	  			<tr id="list_${deal.id}" class="${deal_index % 2 ? 'even' : 'odd'}"  
					    	#{if !deal.image3?.trim() || deal.quantity == 0}
					    	 style="border-color: red;border-style: solid;" 
					    	#{/if}
					    	#{else}
					    		#{if deal.company == null} style="border-color: orange;border-style: solid;" #{/if}
					    	#{/else}	
					    	>
					    	<td>
					    		<img src="@{'/public/img/arrow.png'}" alt="move" width="16" height="16" class="handle" /> 
					    	</td>
					    	<td>
					    		<span id="position_label">${deal.position}</span>
								<input class="position" type="hidden" name="dealIds" value="${deal.id}" size="3"/>
							</td>
							<td>
								 <a href="@{admin.Deals.show(deal.id)}">
				   					${deal.hotelName}
				   				 </a>
							</td>
							<td>
								${deal.salePriceCents}&euro;
							</td>
							<td>
								${deal.discount}%
							</td>
							<td>
								${deal.roomType}
							</td>
							<td>
								${deal.roomTypeText} 
							</td>
							<td>
								${deal.priceCents}&euro;
							</td>
				</tr>
	  #{/list}
	  			</tbody>
	  			</table>
	  			<br/>
	  			<input type="submit" value="Guardar cambios" />
	#{/form} 
	 <br/>
	  	<p> <span style="border-color: red;border-style: solid;" > Rojo:</span> NO ACTIVAR -> faltan fotos del hotel, no hay dispo o el precio anterior es mayor al actual</p>
	  	<p> <span style="border-color: orange;border-style: solid;" > Naranja:</span> falta la company, si recibe reservas se crean sin company y no se pueden facturar.</p>
		<p>Auto order Deals: ordena todos los deals ACTIVOS de mayor a menor precio y de mayor a menor descuento en caso de precios iguales </p>
	</div>
</div>


<script>

	   	$(function() {
	   		$("#test-list").sortable({ 
	   		    handle : '.handle', 
	   		    update : function () { 
	   		    	$('#test-list').children('tr').each(function(idx, elm) {
	   		    		var input = $('#'+elm.id).find("#position_label").first();
	   		    		input.text(idx);
	   		    	});  
	   			}
			});
	   	});
	</script>