#{set active:'deals'/}
#{set activeSub:'publish'/}
#{extends 'admin/layoutResponsive.html' /}
#{include 'admin/Deals/navColumn.html'/}

<div  class="span10">
	
	<div class="page-header">
		  <h1>Publish Today Deals <small>view and update published deals by city</small></h1>
	</div>
	<div >
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>
						<a class="${orderBy == 'name' ? (order == 'DESC' ? 'crudSortedDesc' : 'crudSortedAsc') : ''}" href="@{list().remove('page').add('search', params.search).add('orderBy', 'name').add('order', (orderBy == 'name' && order == 'ASC' ? 'DESC' : 'ASC')).add('fields', currentFields?.join(','))}">
							Name
						</a>
						</th>
						<th>
							<a class="${orderBy == 'active' ? (order == 'DESC' ? 'crudSortedDesc' : 'crudSortedAsc') : ''}" href="@{list().remove('page').add('search', params.search).add('orderBy', 'active').add('order', (orderBy == 'active' && order == 'ASC' ? 'DESC' : 'ASC')).add('fields', currentFields?.join(','))}">
							Active
							</a>
						</th>
						<th>
							Time to open
						</th>
						<th>
							Published
						</th>
						<th>
							Published direct
						</th>
						<th>
							<a class="${orderBy == 'updated' ? (order == 'DESC' ? 'crudSortedDesc' : 'crudSortedAsc') : ''}" href="@{list().remove('page').add('search', params.search).add('orderBy', 'updated').add('order', (orderBy == 'updated' && order == 'ASC' ? 'DESC' : 'ASC')).add('fields', currentFields?.join(','))}">
							Updated
							</a>
						</th>
					</tr>
				</thead>
				<tbody>
				 #{list objects, as:'city'} 
					    <tr>
							<td>
								<a href="@{admin.Cities.show(city.id)}">
								 ${city.name}
								 </a>
							</td>
							<td>
								#{if city.active}
			           				<i class="icon-ok"></i>
			           			#{/if}
							</td>
							<td>
								#{if city.isCityOpen()}
			           				0
			           			#{/if}
			           			#{else}
			           				${city.timeToOpen()?.format('HH:mm')}
			           			#{/else}
			           			<div class="btn-group pull-right">
								  	<a href="@{admin.Cities.changeOpenHour(city.id, 1)}" class="btn btn-mini"><i class="icon-plus-sign"></i></a>
					                <a href="@{admin.Cities.changeOpenHour(city.id, -1)}"" class="btn btn-mini"><i class="icon-minus-sign"></i></a>
								</div>
							</td>
							%{ 
								zones = models.City.findCitiesByRoot(city.url);
								deals = 0;
								directDeals = 0;
								for (models.City zone : zones){
									deals += models.Deal.countActiveHotelsByCity(zone);
									directDeals += models.Deal.countActiveDirectHotelsByCity(zone);
								}
								
							}%
							<td #{if (city.active && deals == 0)}
								    	 		style="color:red;" 
								   #{/if} >
							      ${deals}
							</td>
							<td #{if (city.active && directDeals == 0)}
								    	 		style="color:orange;" 
								   #{/if} >
							      ${directDeals}
							</td>
							
							<td>
								${city.updated?.format('dd MMMM yyyy - hh:mm')}
							</td>
							<td>
								  <a class="" 
								  	href="
									#{if city.isRootCity()}
										@{admin.Cities.zones(city.id)}
									#{/if}
									#{else}
										@{admin.Cities.editCityDeals(city.id)}
									#{/else}">
				   						Publish deals
				   				  </a>
				   				  <div class="pull-right">
				   				  <a href="@{admin.Cities.close(city.id)}" class="btn btn-danger btn-mini">Close city</a>
								  <a href="@{admin.Cities.seeGetaroomHotels(city.id)}" class="">Add hotels from GetaRoom</a>
								  </div>
		
							</td>
					  	</tr>
				#{/list}
	</tbody>
	</table>
	</div>
</div>
