#{extends 'CRUD/layout.html' /}

%{
    def keyVal = play.modules.siena.SienaModelUtils.keyValue(object)
}%
<div id="crudShow" class="${type.name}">
	
	<h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>
	
		
	<div class="objectForm">
	#{form action:@save(keyVal), enctype:'multipart/form-data'}
	   #{crud.form} 
				
			#{crud.custom 'user'} 
				%{ 
					client = models.User.findById(object.user.id);
				}%
		   	 	<label for="object_user">
		        	User (can't change it from here): 
		    	</label>
		    	<input type="text" name="" value="${client?.email}" disabled>
		   	 		<br>
			#{/crud.custom} 
			
		#{/crud.form} 
		<p class="crudButtons">
			<input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
			<input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
		</p>
	#{/form}

	</div>
	
	#{form @assignToUser()}
		<p>
			<input type="text" name="email" value="${email}" />
			<input type="hidden" name="myCoupon.id" value="${object.id}" />
			
			<input type="submit" value="Reassign MyCoupon" />
		</p>
	#{/form}
	
	#{form @delete(keyVal)}
		<p class="crudDelete">
			<input type="submit" value="&{'crud.delete', type.modelName}" />
		</p>
	#{/form}
</div>