#{extends 'layout.html' /}
#{set title: 'Ciudades' /}
#{set background: 'http://a0.ak.lscdn.net/imgs/61ac5113-826c-415e-bbd4-fbc797d74181/original_q60.jpg'/}

<div class="container-fluid">
    	
      <div class="content" id="cities">
        <div >
	        <ul class="media-grid">
			 	#{list items:cities, as:'city' }
			 		<li id="${city.url}">
					    <a href="@{Deals.list(city.url)}" style="background-image: url('@{'/public/images/cities/'+city.url+'.jpg'}');">
					    	<h2 class="alpha60"> ${city.name}</h2>
					    	
					    </a>
					</li>
			    #{/list}
			</ul> 
        </div>
      </div>
    </div>
