#{extends 'layout.html' /}
#{set 'title'}
 	&{'web.cities'}
 #{/set}
 
#{set background: 'http://d2f5bmx5jz1oq8.cloudfront.net/web/backgrounds/general.jpg'/}

    <div class="row">
	      <div class="span9" id="cities">
	      			<!-- 
	      			<div class="row">
	     				 <div class="span9 title-black">
	     				 	<h1>&{'web.cities.h1'}</h1>
	     				 </div>
	     			</div> 
	     			-->
					 	#{list items:cities, as:'city' }
					 		<div id="${city.url}" class="city">
							    <a href="@{Deals.list(city.url)}" style="background-image: url('http://rlbmedia.s3.amazonaws.com/web/cities/rlb_icono_${city.url}_174px.png');">
							    	<h2> ${city.name}</h2>										
							    </a>
							</div>
					    #{/list}
	      </div>
	      <div class="span3">
	      		<div class="row">
	     				
	     		</div>
	      </div>
    </div>
