#{extends 'main.html' /}
#{set title:'Home' /}

<section id="list">
		<div class="toolbar">
			<!-- <a href="#cities" class="button">Cities</a> -->
			<h1>Ciudades</h1>
		</div>
				
		<ul id="items_list" class="list">
			#{list items:cities, as:'city' }
		        <h1>${city.name}</h1>
				<p>
				   <a href="@{Deals.list(city.url)}">Ver hoteles</a>
				</p>
		    #{/list}
		</ul>
		<div class="footer">
			<ul>
				<li class="cities">
					<a href="#">
						<span></span>Ciudades
					</a>
				</li>
				<li class="myItems">
					<a href="#">
						<span></span>Reservas
					</a>
				</li>
				<li class="myData">
					<a href="#">
						<span></span>Mis Datos
					</a>
				</li>
			</ul>
		</div>
</section>
	<div id="endOfPage"></div> <!-- I need it to add items details -->

<script>
			$(document).ready(function(){	
				
				$("body > section").first().addClass("current");
	
				$("a.back").live('tap click', function(e) {
					var current = $(e.currentTarget).attr("href");
					$(".current").removeClass("current").addClass("reverse");
					$(current).addClass("current");
				});
	
			});
		</script>