#{extends 'layout.html' /}
#{set 'title'}
	&{'web.index.title'}
#{/set}
#{set background: 'http://d2f5bmx5jz1oq8.cloudfront.net/web/backgrounds/general.jpg'/}

      <div class="row">
        <div class="span9">
        	<div class="hero-unit">
	          <h1>&{'web.index.h1'}</h1>
	          <p>&{'web.index.h1.small'}</p>
				  <div class="register">
				   		<div class= "well">
				   			<h2>&{'web.index.register.h2'}</h2>
				   			<small>&{'web.index.register.club'}</small>
				   			<div class= "btn-container">
				   				<a data-toggle="modal" href="#askInvite" class="btn btn-large btn-danger">&{'web.index.register.btn'}</a>
				   				<div class="modal fade" id="askInvite">
								  <div class="modal-header">
								    <a class="close" data-dismiss="modal">&times;</a>
								    <h3>&{'web.index.invite.h3'}</h3>
								  </div>
								  #{form @Invitations.getInvite()}
								  <div class="modal-body">
								    <small>&{'web.index.invite.entry'}</small>
								    	 <div class="input-prepend">
							              <div class="input-prepend">
							                <span class="add-on"><i class="icon-envelope"></i></span>
							                <input class="input-large" name="email" id="email" value="${flash.email}" type="text" placeholder="&{'secure.email'}">
							              </div>
							             </div>
							             <small class="help-block">&{'web.index.invite.accept_terms'} <a data-toggle="modal" href="#terms">&{'web.terms'}</a></small>
								  </div>
								  <div class="modal-footer">
								    <button type="submit" class="btn btn-primary" >&{'web.index.invite.btn'}</button>
								    <a  data-dismiss="modal" class="btn close">&{'web.btn.cancel'}</a>
								  </div>
								</div>
								#{/form}
				   			</div>
				   			<div class= "download">
				   			<small>&{'web.index.register.download'}</small>
				   			<div class= "btn-container">
				   			<a class="iphone-btn" target="_self" href="http://itunes.apple.com/es/app/reallylatebooking-las-mejores/id448918487?mt" 
				   				onclick="_gaq.push(['_trackEvent', 'iphone', 'Download', 'Spanish']);" ></a>
				   			<a class="android-btn" target="_self" href="https://market.android.com/details?id=com.iipir.rlb" 
				   				onclick="_gaq.push(['_trackEvent', 'android', 'Download', 'Spanish']);" ></a>
				   			</div>
				   			</div>
				   		</div>
				  </div>
				  <div class="login">
				  	<div id="login" class= "well">
				  		<h2>&{'web.index.login.h2'}</h2>
				  		<small>&{'web.index.login.fb'}</small>
				  		<div class="fb-button-container-centered">
				   		#{fbconnect.button label:'<span class="fb-button-left"></span>
							<span class="fb-button-center"> Facebook  </span>
							<span class="fb-button-right"></span>', scope:'email' /}
				  		</div>
				  		<small>&{'web.index.login.email'}</small>
							#{form @authenticate()}
				  			<div class="control-group #{ifError 'username'} error #{/ifError}">
				              <div class="input-prepend controls">
				                <span class="add-on"><i class="icon-envelope"></i></span>
				                <input class="input-large" name="username" id="username" value="${flash.username}" type="text" placeholder="&{'secure.email'}">
				              </div>
				            </div>
				            <div class="control-group #{ifError 'password'} error #{/ifError}"> 
				              <div class="input-prepend controls">
				                <span class="add-on"><i class="icon-lock"></i></span>
				                <input class="input-large" type="password" name="password" id="password" value=""  size="16"  placeholder="&{'secure.password'}">
				              </div>
				             </div>  
				             <div class="login-center">
					       		 <button type="submit" class="btn btn-large btn-success" >&{'web.index.login.email.button'}</button>
					        </div>
						#{/form}
						
					</div>
				  </div>
			</div>
        </div>
      </div>

