
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!-- Siempre forzar el último motor de rendering de IE (incluso en intranet) & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Pruebas</title>
    <meta name="description" content="#{get 'description' /}">
    <meta name="author" content="">
	<!-- Optimización para dispositivos moviles: j.mp/bplateviewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	


<style>
	#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
	#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
	#sortable li span { position: absolute; margin-left: -1.3em; }
	</style>
    
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script src="//assets.transloadit.com/js/jquery.transloadit2.js"></script>


<script type="text/javascript">
$(document).ready(function() {
    $('#MyForm').transloadit({
       wait: true,
       fields: true
    });
  });
</script>
    
  </head>


<pre> 
    <div id="info">Waiting for update</div> 
</pre> 

<form id="MyForm" action="http://api2.transloadit.com/assemblies" enctype="multipart/form-data" method="POST">
<input type="hidden" name="params" value="{&quot;auth&quot;:{&quot;key&quot;:&quot;24ec1ca3d9224f3aa74d3c7f1ba78a5a&quot;},&quot;template_id&quot;:&quot;ffaae1063bfd4587baf51e8d91324ad5&quot;,&quot;redirect_url&quot;:&quot;http://localhost:8000/pruebas&quot;}" />
<input type="file" name="my_file" multiple="multiple" />
<input type="text" name="hotel" value="hotelTest"/>
<input type="text" name="city" value="cityTest"/>

<input type="submit" value="Upload">
</form>

			

  </body>
</html>

