<!DOCTYPE html>
<html lang='en'>
<head><script type="text/javascript">var NREUMQ=[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
<meta content='width=device-width,initial-scale=1,user-scalable=no' name='viewport'>
<title>ReallyLateBooking - &{'web.index.title'}</title>
<link rel="stylesheet" href="/public/stylesheets/mobile.css" media="screen" type="text/css" />
</head>
<body>
<!-- / section == front-door in the mobile page sass -->
<!-- / essentially the app window -->
<body>
<div id='front_door'>

#{doLayout /}

</div>

<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-24669093-1']);
	  _gaq.push(['_setDomainName', 'reallylatebooking.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>