<!DOCTYPE html xmlns:fb="http://ogp.me/ns/fb#">
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!-- Siempre forzar el último motor de rendering de IE (incluso en intranet) & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>#{get 'title' /}</title>
    <meta name="description" content="">
    <meta name="author" content="">
	<!-- Optimización para dispositivos moviles: j.mp/bplateviewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Le styles 
    <link href="@{'/public/stylesheets/bootstrap.css'}" rel="stylesheet"> -->
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/rlb.css'}">

    
    #{get 'moreStyles' /}
    
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.ico'}">
    <link rel="apple-touch-icon" href="@{'/public/images/apple-touch-icon.png'}">
    <link rel="apple-touch-icon" href="@{'/public/images/apple-touch-icon-72x72.png'}">
    <link rel="apple-touch-icon" href="@{'/public/images/apple-touch-icon-114x114.png'}">
    
    <script type="text/javascript">
	    var addthis_config = {"data_track_clickback":true};
	</script>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=pubid=ra-4f1d2cf53577540c"></script>
    
    <meta property="og:site_name" content="ReallyLateBooking"/>
    <meta property="og:merchant" content=" #{get 'merchant' /}"/>
    <meta property="fb:app_id" content="195465620529574"/>
    <meta property="og:type" content="reallylatebooking:deal"/>
    <meta property="og:title" content="#{get 'title' /}"/>
   <!--  <meta property="og:url" content="${request.url}"/>  -->
    <meta property="og:image" content="#{get 'image' /}"/>
    <meta property="og:description" content="#{get 'description' /}"/>
    <meta property="og:locale" content="es"/>
    
  </head>
  <body data-spy="scroll" data-target="#zonesNav" data-offset="50">
  
  *{*** FACEBOOK INTEGRATION ******}*
   <div id="fb-root"></div>
   <script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '195465620529574', // App ID
	      channelUrl : '//localhost:8000/channel.html', // Channel File
	      status     : true, // check login status
	      cookie     : true, // enable cookies to allow the server to access the session
	      xfbml      : true  // parse XFBML
	    });
	
	    // Additional initialization code here
	  };
	
	  // Load the SDK Asynchronously
	  (function(d){
	     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
	     js = d.createElement('script'); js.id = id; js.async = true;
	     js.src = "//connect.facebook.net/es_ES/all.js";
	     d.getElementsByTagName('head')[0].appendChild(js);
	   }(document));
	</script>
  <div id="background">
	  <img src="#{get 'background' /}">
  </div>
  <div class="container">
  	 <div class="row">
	    <div class="navbar navbar-fixed-top span12">
	    	<div class="row">
		      <div class="navbar-inner span9">
		        <div class="container-fluid">
		          <a class="brand" href="/"><img src="http://reallylatebooking.com/public/images/logo_black_400.original_4o3nb3f2h20bxatc.png" alt="ReallyLateBooking" title="ReallyLateBooking"></a>
		          <ul class="nav">
		          	 #{if user}
		          	 	<li class="dropdown" data-dropdown="dropdown">
			              <a href="#" class="dropdown-toggle"  data-toggle="dropdown">&{'web.hi',user.firstName} <b class="caret"></b></a>
			              <ul class="dropdown-menu">
			                <li><a href="@{Users.dashboard()}">&{'web.dashboard'}</a></li>
			                <li class="divider"></li>
			                <li><a href="@{Users.dashboard()}#account">&{'web.account'}</a></li>
			                <li><a href="@{Application.logout()}">&{'web.logout'}</a></li>
			              </ul>
			            </li>
			             <li><a href="@{Users.dashboard()}#mybookings">&{'web.mybookings'}</a></li>
			       	 #{/if}
			       	
		            <li><a href="#about" class="active">&{'web.howitworks'}</a></li>
		            <li><a href="#contact">&{'web.contact'}</a></li>
		          </ul>
		        </div>
		      </div>
	      	</div>
	    </div> <!-- END navbar -->
	  </div>
	
		 #{if flash.error}
    			<div class="content">
				 	<div class="alert-message error">
					  <a class="close" href="#">×</a>
					  <p><strong>${flash.error}</strong> </p>
					</div>
				</div>
        #{/if}
        #{if flash.success}
    			<div class="content">
		        	<div class="alert-message success">
					  <a class="close" href="#">×</a>
					  <p><strong>${flash.success}</strong> </p>
					</div>
				</div>
        #{/if}
	#{doLayout /}
	<div class="row">
	    <div class="span12">
	    	<div class="row">
			    <footer class="footer span9">
			    	<div class="row">
			    		<div class="span6">
				    	<ul class="nav nav-pills ">
					      <li><a href="/about">about</a></li>
					      <li><a href="/jobs">jobs</a></li>
					      <li><a href="/press">press</a></li>
					      <li><a href="/getfeatured?vertical=daily&amp;locale=en-US" target="_blank">businesses</a></li>
					      <li><a href="http://help.livingsocial.com" target="_new">help</a></li>
					      <li><a href="/terms">terms</a></li>
					      <li><a href="/privacy_policy">privacy policy</a></li>
					    </ul>
					    </div>
						<div class="addthis_toolbox addthis_32x32_style addthis_default_style offset1 span2">
							<a class="addthis_button_facebook_follow" addthis:userid="reallylatebooking"></a>
							<a class="addthis_button_twitter_follow" addthis:userid="rlatebooking"></a>
							<a class="addthis_button_youtube_follow" addthis:userid="ReallyLateBooking"></a>
							<a class="addthis_button_rss_follow" addthis:url="http://blog.reallylatebooking.com"></a>
						</div>
					</div>
					<div class="row">
				    	<div class="span9">
							<p>
					          <small> &copy; ReallyLateBooking 2012. Powered by IIPIR Software Solutions S.L.</small>
					        </p>
					 	</div>
					</div>      
			    </footer>
	     	</div>
	    </div>
	 </div>
</div> <!-- END Container -->
    <!-- JavaScript al fondo para carga rápida de la página -->
	  <!-- Obtener jQuery del CDN de Google, con una URL relativa al protocolo; fallback a copia local si es necesario -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="@{'/public/js/bootstrap-transition.js'}"></script>
    <script src="@{'/public/js/bootstrap-alert.js'}"></script>
    <script src="@{'/public/js/bootstrap-modal.js'}"></script>
    <script src="@{'/public/js/bootstrap-dropdown.js'}"></script>
    <script src="@{'/public/js/bootstrap-scrollspy.js'}"></script>
    <script src="@{'/public/js/bootstrap-tab.js'}"></script>
    <script src="@{'/public/js/bootstrap-tooltip.js'}"></script>
    <script src="@{'/public/js/bootstrap-popover.js'}"></script>
    <script src="@{'/public/js/bootstrap-button.js'}"></script>
    <script src="@{'/public/js/bootstrap-collapse.js'}"></script>
    <script src="@{'/public/js/bootstrap-carousel.js'}"></script>
    <script src="@{'/public/js/bootstrap-typeahead.js'}"></script>

     #{get 'moreScripts' /}
    	<script type="text/javascript">
			$(function() {
				$(".alert-message").alert()
			});
		</script>
	
  </body>
</html>
