<!DOCTYPE html>

<html>
    <head>
    	<title>#{get 'title' /}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />
        
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        
        <script src="@{'/public/javascripts/polyfill.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/zepto.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/ajax.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/event.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/touch.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/gesture.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/functions.js'}" type="text/javascript" charset="utf-8"></script>
        
        #{get 'moreScripts' /}
         
    </head>
    <body>
        #{doLayout /}
    </body>
</html>
