#{extends 'CRUD/layout.html' /}

<div id="crudBlank" class="${type.name}">
	
	<h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>
	
	<div class="objectForm">
	#{form action:@create(), enctype:'multipart/form-data'}
		#{crud.form} 
				#{crud.custom 'city'} 
					<label for="object_city">
		        		City
		    		</label>
					%{
					    cities = models.City.findAllCities();
					}%
					
		   	 		#{select 'object.city.id', items:cities, valueProperty:'id', labelProperty:'name', value:object?.city?.id }
		   	 		 	#{option}please select something...#{/option}
					#{/select}
					#{ifError 'object.city'}
							<span class="error">#{error 'object.city'/}</span>
					#{/ifError}
					
				#{/crud.custom} 
			#{crud.custom 'owner'} 
	   	 	<label for="object_owner">
	        	Owner Extranet
	    	</label>
	    			%{
					    owners = models.User.getAllOwners();
					}%
					
		   	 		#{select 'object.owner.id', items:owners, valueProperty:'id', labelProperty:'object.owner.name', value:object?.owner?.id }
		   	 			#{option}please select something...#{/option}
					#{/select}
					
		   	 		#{ifError 'object.owner'}
							<span class="error">#{error 'object.owner'/}</span>
					#{/ifError}
			#{/crud.custom} 
			#{crud.custom 'company'} 
	   	 	<label for="object_company">
	        	Company
	    	</label>
	    			%{
					    companies = models.Company.getAllCompanies();
					}%
					
		   	 		#{select 'object.company.id', items:companies, valueProperty:'id', labelProperty:'name', value:object?.company?.id }
		   	 			#{option}please select something...#{/option}
					#{/select}
			#{/crud.custom} 
			
			#{crud.custom 'roomType'} 
				<label for="object_roomType">
		        		Category
		    		</label>
					#{select 'object.roomType'}
		   	 		 	#{option 'lujo'}Luxury #{/option}
		   	 		 	#{option 'elegante'}Elegant #{/option}
		   	 		 	#{option 'confort'}Comfort  #{/option}
					#{/select}
			#{/crud.custom} 
			
			#{crud.custom 'hotelCategory'} 
				<label for="object_hotelCategory">
		        		Hotel Stars
		    		</label>
					#{select 'object.hotelCategory'}
		   	 		 	#{option '1'}1 star  *#{/option}
		   	 		 	#{option '2'}2 stars ** #{/option}
		   	 		 	#{option '3'}3 stars ***  #{/option}
		   	 		 	#{option '4'}4 stars **** #{/option}
		   	 		 	#{option '5'}5 stars ***** #{/option}
					#{/select}
			#{/crud.custom} 
		#{/crud.form} 

		<p class="crudButtons">
			<input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
			<input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
			<input type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.modelName}" />
		</p>
	#{/form}
	</div>

</div>