#{extends 'CRUD/layout.html' /}

<div id="crudList" class="${type.name}">
	
	<h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

	<div id="crudListTable">
		#{crud.table fields:['hotelName', 'city'] }
		  #{crud.custom 'city'}
		  	 ${models.City.findById(object.city?.id) }
		   #{/crud.custom}
   		#{/crud.table}
	</div>
	
	<div id="crudListPagination">
		#{crud.pagination /}
	</div>
	
	<p id="crudListAdd">
		<a href="@{blank()}">&{'crud.add', type.modelName}</a>
	</p>
	
	<a href="@{admin.Deals.refreshHotUsaPrices}">Refresh HotUsa prices</a>
	<a href="@{Deals.showMovePrices}">Move Prices by days</a>
	
	<p class="crudListExport"  id="exportAll">
		<a href="@{admin.Deals.exportAll}">Export all Deals as CSV </a>
	</p>
	<br/>
</div>
<h2>Crear hotel Hotusa</h2>	
     #{form @admin.Deals.createHotusaHotel()}
		<input type="text" name="hotelCode"  size="10" />
		<br/>
	  	<input type="submit" value="Crear hotel" />
	 #{/form} 
