#{set active:'deals'/}
#{set activeSub:'searchDeals'/}
#{extends 'admin/layoutResponsive.html' /}
#{include 'admin/Deals/navColumn.html'/}		

#{set 'moreScripts' }
<script>
$('#citySelect').typeahead({
    source: function(query, process) {
        objects = [];
        map = {};
        var data = [
        	#{list items:cities, as:'city'}
            	{"id":${city.id},"label":"${city.name.noAccents()}"}${city_isLast ?'':','}
            #{/list}
        ];
        $.each(data, function(i, object) {
            map[object.label] = object;
            objects.push(object.label);
        });
        process(objects);
    },
    updater: function(item) {
        $('#citySelectId').val(map[item].id);
        return item;
    }
}); 

$('#companySelect').typeahead({
    source: function(query, process) {
        objects = [];
        map = {};
        var data = [
        	#{list items:companies, as:'company'}
            	{"id":${company.id},"label":"${company.name.noAccents()}"}${company_isLast ?'':','}
            #{/list}
        ];
        $.each(data, function(i, object) {
            map[object.label] = object;
            objects.push(object.label);
        });
        process(objects);
    },
    updater: function(item) {
        $('#companySelectId').val(map[item].id);
        return item;
    }
}); 
</script> 
#{/set}

        <div class="span10">
        	<div class="">
        		#{form @admin.Deals.search(), class:'form-search'}
				  <input type="text" name="hotelName" placeholder="Hotel name" class="input-medium search-query" autocomplete="off" data-provide="typeahead" data-items="10"
				  	 data-source="[#{list items:deals, as:'deal'}&quot;${deal.hotelName}&quot;${deal_isLast ?'':','}#{/list}]">
				  	 
				  <input id="citySelect" type="text" placeholder="City" class="input-medium" autocomplete="off"  data-items="20">
				  <input id="citySelectId" type="hidden" name="cityId">		
				  
				  <input id="companySelect" type="text" placeholder="Company" class="input-medium" autocomplete="off"  data-items="20">
				  <input id="companySelectId" type="hidden" name="companyId">			 
				  	 
				  <button type="submit" class="btn">Search</button>
				#{/form}
          	</div>


        	<table class="table table-bordered table-hover">
        		<thead>
	                <tr>
	                	<th>
							Hotel
						</th>
						<th>
							City
						</th>
						<th>
							Company
						</th>
						<th>
							Owner
						</th>
	                	<th>
							Updated
						</th>
	                </tr>
              	</thead>
              	<tbody>
	        		#{list items:deals, as:'deal'}
	          			<tr class="#{if deal.active} success #{/if}">
	          				<td>
		    					<a href="@{admin.Deals.createForm(deal.id)}">
				   					${deal.hotelName}
				   				 </a>
				   			</td>
				   			<td>
				   				%{
		  							city = models.City.findById(deal.city?.id)
		  						}%
		    					<a href="@{admin.Cities.show(city.id)}">
				   					${city.name}
				   				 </a>
				   			</td>
				   			<td>
				   				%{
		  							company = models.Company.findById(deal.company?.id)
		  						}%
		    					<a href="@{admin.Companies.show(company.id)}">
				   					${company.name}
				   				 </a>
				   			</td>
				   			<td>
				   				%{
		  							owner = models.User.findById(deal.owner?.id)
		  						}%
		    					<a href="@{admin.Users.show(owner.id)}">
				   					${owner.firstName} ${owner.lastName}
				   				 </a>
				   			</td>
	          				<td> 
	          					${deal.updated?.format('dd-MM-yy hh:mm')}
	          				</td>
	  					</tr>
	          		#{/list}
          		</tbody>
			</table>
          	
        </div><!--/span-->