
<div class="edit-hotel">
#{form @create()}
  				<div class="row-fluid">
  					<div class="span5">
		<fieldset>
					<legend>Escoge ciudad</legend>
    								<div class="control-group #{ifError 'cityId'} error #{/ifError}">
    								<label for="firstName">Ciudad</label>
				<div class="controls">
	              <select id="citiesSelect" name="cityId">
	              	#{list items:cities, as:'city' }
	                	<option value="${city.id}">${city.name}</option>
	                #{/list}
	              </select>
	            </div>
            </div>
        </fieldset>
        </div>
        <div class="span5">
		<fieldset>
					<legend>Escoge tres ofertas</legend>
    		<div class="control-group #{ifError 'deal1Id'} error #{/ifError}">
    			<label for="deal1Id">Oferta 1</label>
				<div class="controls">
				 	<select id="deal1Id" name="deal1Id" class="dealSelect">
	              	#{list items:deals, as:'deal' }
	                	<option value="${deal.id}">${deal.name} por ${deal.salePriceCents}Û</option>
	                #{/list}
	              </select>
	            </div>
            </div>
            <div class="control-group #{ifError 'deal2Id'} error #{/ifError}">
    			<label for="deal2Id">Oferta 2</label>
				<div class="controls">
				 	<select id="deal2Id" name="deal2Id" class="dealSelect">
	              	#{list items:deals, as:'deal' }
	                	<option value="${deal.id}">${deal.name} por ${deal.salePriceCents}Û</option>
	                #{/list}
	              </select>
	            </div>
            </div>
            <div class="control-group #{ifError 'deal1Id'} error #{/ifError}">
    			<label for="deal3Id">Oferta 3</label>
				<div class="controls">
				 	<select id="deal3Id" name="deal3Id" class="dealSelect">
	              	#{list items:deals, as:'deal' }
	                	<option value="${deal.id}">${deal.name} por ${deal.salePriceCents}Û</option>
	                #{/list}
	              </select>
	            </div>
            </div>
            
        </fieldset>
         </div>  
       
     </div>  
        <div class="row-fluid"> 
			<div class="actions span8">
				<input class="btn btn-primary btn-large" type="submit" id="signin" value="Crear Newsletter" />
			</div>
		</div>
#{/form}
</div>